<%= f.hidden_field :parent_id %>
<%= f.hidden_field :parent_type %>

<label for="page_title">Sidans titel</label>
<%= f.text_field :title, :class => "title" %>

<label for="page_layout_id">
  Välj vilken sorts sida
  <%= f.select :page_layout_id, PageLayout.find(:all).collect { |layout| [layout.name, layout.id] } %>
</label>

<label for="page_description">
  Inledning / ingress
  <span class="info">(visas på översiktssidor för att locka till vidare läsning)</span>
</label>
<%= f.text_area :description, :rows => 5, :class => 'wymeditor' %>

<label for="page_title">Publiceringsdatum</label>
<%= f.date_select :published_on, :order => [:day, :month, :year ] %>

<div class="tags">
  <label for="page_tag_names">Nyckelord <span class="info">(olika nyckelord separeras med mellanslag)</label>
  <%= f.text_field :tag_names %>
</div>

<label for="page_restricted" class="contains-input">
  <%= f.check_box :restricted %> Kräv inloggning
</label>

<% end -%>