<%= f.hidden_field :parent_id %>
<%= f.hidden_field :parent_type %>

<label for="page_title">Titel</label>
<div class="fullwidthinput">
  <%= f.text_field :title, :class => "title" %>
</div>
<label for="page_layout">Välj layout</label>
<%= f.select :page_layout_id, PageLayout.find(:all).collect { |layout| [layout.name, layout.id] } %>
<label for="page_description">Kort beskrivning</label>
<div class="fullwidthinput">
  <%= f.text_area :description, :rows => 3, :class => 'wymeditor' %>
</div>
<label for="page_tag_names">Nyckelord <span class="form_help">separera nyckelord med mellanslag</label>
<div class="fullwidthinput">
  <%= f.text_field :tag_names %>
</div>
<label for="page_restricted" class="contains-input">
  <%= f.check_box :restricted %> Kräv inloggning
</label>