<% @page_title = "Sidor > #{@page.title}" -%>
<% @page_class = "AB content" -%>
<div id="workspace">
  <div class="header">
    <h1><span class="pre">Ändra detaljer</span> <%= @page.title %></h1>
  </div>
  <div id="content">
  <%= error_messages_for :page %>
  <%= error_messages_for :node %>
  <% form_for @page, :url => admin_page_path(@page), :html => { :method => :put } do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <% if @page.node -%>
      <% f.fields_for :node_attributes, @page.node do |node| %>
        <%= node.hidden_field :id %>
        <%= render :partial => 'admin/nodes/form', :locals => { :f => node } %>
      <% end -%>
    <% end -%>

    <div class="submit">
      <%= f.submit "Spara ändringar", :class => 'button' %> eller <%= link_to "avbryt", previous_view_path(admin_page_path(@page)) %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/pages' %>