<% @page_title = "Sidor > #{@page.title}" -%>
<% @page_class = "AB content" -%>
<div id="workspace">
  <div class="header">
    <h1><span class="pre">Ändra detaljer</span> <%= @page.title %></h1>
  </div>
  <div id="content">
  <%= error_messages_for :page %>
  <%= error_messages_for :node %>
  <% form_for @page, :url => admin_page_path(@page), :html => { :method => :put, :multipart => true } do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <% if @page.node -%>
      <% f.fields_for :node_attributes, @page.node do |node| %>
        <%= node.hidden_field :id %>
        <%= render :partial => 'admin/nodes/form', :locals => { :f => node } %>
      <% end -%>
    <% end -%>

    <div class="submit">
      <%= f.submit "Spara ändringar", :class => 'button commit' %> eller <%= link_to "avbryt", previous_view_path(admin_page_path(@page)) %>
    </div>
  <% end %>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'porthos/jquery/jquery' %>
  <%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor.min', 'porthos/wymeditor/lang/sv', 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools', 'porthos/wymeditor/plugins/tidy/jquery.wymeditor.tidy' %>
  <%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
  <%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
  <%= javascript_include_tag 'porthos/editor' %>
  <%= javascript_include_tag 'porthos/pages' %>
  
<% end %>