<% @page_title = "Sidor > #{@page.title}" -%>
<% @page_class = "layout3" -%>
<div id="sub_nav">
</div>
<div id="workspace">
  <div class="header">
    <div class="parents"><%= link_to @page.field_set.title, admin_pages_path(:filters => { :with_field_set => @page.field_set.id }) %></div>
    <h1><%= @page.title %></h1>
    <span class="away">
      <%= link_to "Förhandsgranska", preview_page_path(@page), :class => 'public_link' %>
    </span>
    <% if @page.node %>
    <div class="navigation">
      <span class="key">Namn i navigationen:</span>
      <span class="value"><%= @page.node.name %></span>
      <span class="status <%= @page.node.access_status %>">
      <% case @page.node.access_status
         when 'active' -%>
        Visas
      <% when 'hidden' -%>
        Dold
      <% when 'inactive' -%>
        Avstängd
      <% end -%>
      </span>
    </div>
    <div class="slug">
      <span class="key">Adress:</span>
      <span class="value"><%= request.host %>/<%= @page.node.slug %></span>
    </div>
    <% elsif @page.index_node %>
    <% if @page.active? -%>
    <span class="status active">Visas</span>
    <% else -%>
    <span class="status inactive">Avstängd</span>
    <% end -%>
    <div class="slug">
      <span class="key">Adress:</span>
      <span class="value"><%= request.host %>/<%= @page.index_node.slug %>/<%= @page.to_param %></span>
    </div>
    <% end %>
  </div>
  <div id="content" class="page_contents">
  <% @page.field_set.fields.each do |field| -%>
    <% if field.data_type == CustomAssociation %>
      <% @page.custom_associations.find(:all, :conditions => ["field_id = ?", field.id], :order => 'custom_associations.position').tap do |custom_associations| %>
      <div class="page_content association <%= field.target_type %> <%= field.relationship %>">
        <% if custom_associations.any? -%>
        <div class="container">
          <h2 class="field_label"><%= field.label %></h2>
          <% if field.target_type == 'asset' -%>
            <% custom_associations.each do |custom_association| -%>
              <% custom_association.target.tap do |image| -%>
              <div class="content">
                <%= image_tag(display_image_path(:id => image.file_name, :size => 'c100x100', :format => image.extname), :width => 100, :height => 100) %>
                <div class="title"><%= image.title %></div>
                <div class="caption"><%= image.description %></div>
                <% if !(field.relationship == 'one_to_one' || custom_associations.size == 1) && field.required? -%>
                <%= link_to "Ta bort", admin_page_custom_association_path(@page.id, custom_association), :method => :delete %>
                <% end -%>
              </div>
              <% end -%>
            <% end -%>
          <% elsif field.target_type == 'page' -%>
            <ul class="pages sortable" id="page_<%= field.handle %>_list">
            <% custom_associations.each do |custom_association| -%>
              <li id="custom_association_<%= custom_association.id %>">
                <%= link_to custom_association.target.title, admin_page_path(custom_association.target), :class => 'page' %>
                <% unless custom_associations.size == 1 && field.required? -%>
                <%= link_to("Ta bort", admin_page_custom_association_path(@page, custom_association), :class => 'delete', :method => :delete) %>
                <% end -%>
              </li>
            <% end -%>
            </ul>
          <% end -%>
          <div class="edit">
            <% if field.relationship == 'one_to_one' -%>
            <a href="#" class="change">Ändra</a>
            <% else -%>
            <a href="#" class="add">Lägg till</a>
            <% end -%>
          </div>
        </div>
        <% end -%>
        <% if field.relationship == 'one_to_many' -%>
          <% form_for :custom_association, :url => admin_page_custom_associations_path(@page), :html => { :style => 'display:none;', :class => 'select_page' } do |f| %>
            <%= f.hidden_field :target_type, :value => field.target_class.to_s %>
            <%= f.hidden_field :field_id, :value => field.id %>
            <%= f.hidden_field :handle, :value => field.handle %>
            <%= f.hidden_field :relationship, :value => field.relationship %>
            <label for="page_<%= field.label %>"><%= field.label %></label>
            <%= f.select :target_id, field.possible_targets.collect { |pt| [pt['title'], pt['id']] }, :selected => custom_associations.collect { |ca| ca.target_id } %>
            <div class="submit_inline">
              <input type="submit" value="Lägg till">
              eller <a href="#" class="cancel">avbryt</a>
            </div>
          <% end -%>
        <% elsif field.relationship == 'one_to_one' -%>
          <% if custom_associations.any? -%>
            <% form_for custom_associations.first, :url => admin_page_custom_association_path(@page.id, custom_associations.first), :html => { :method => :put, :style => 'display:none;' } do |f| %>
              <label for="page_<%= field.label %>"><%= field.label %></label>
              <%= f.select :target_id, field.possible_targets.collect { |pt| [pt['title'], pt['id']] } %>
              <div class="submit_inline">
                <input type="submit" value="<%= field.relationship == 'one_to_one' ? 'Ändra' : 'Lägg till' %>"> eller <a href="#" class="cancel">avbryt</a>
              </div>
            <% end -%>
          <% else -%>
            <% form_for :custom_association, :url => admin_page_custom_associations_path(@page) do |f| %>
              <%= f.hidden_field :target_type, :value => field.target_class.to_s %>
              <%= f.hidden_field :field_id, :value => field.id %>
              <%= f.hidden_field :handle, :value => field.handle %>
              <%= f.hidden_field :relationship, :value => field.relationship %>
              <label for="page_<%= field.label %>"><%= field.label %></label>
              <%= f.select :target_id, field.possible_targets.collect { |pt| [pt['title'], pt['id']] }, :include_blank => (field.required? ? false : '(ingen)') %>
              <div class="submit_inline">
                <input type="submit" value="Spara">
              </div>
            <% end -%>
          <% end -%>
        <% end -%>
      <% end -%>
      </div>
    <% else -%>
      <% case field.class.to_s
         when 'StringField' -%>
        <% (@page.custom_attribute_for_field(field.id) || @page.custom_attributes.build).tap do |custom_attribute| -%>
        <div class="page_content attribute string">
          <div class="container">
            <h2 class="field_label"><%= field.label %></h2>
            <div class="content"><%= custom_attribute.value %></div>
            <div class="edit"><a href="#">Ändra</a></div>
          </div>
          <% unless custom_attribute.new_record? -%>
            <% form_for :custom_attribute, :url => admin_page_custom_attribute_path(@page.id, custom_attribute.id), :html => { :method => :put, :style => 'display:none;' } do |f| %>
              <label for="page_<%= field.handle %>"><%= field.label %></label>
              <div class="fullwidth">
                <%= f.text_field :value, :value => custom_attribute.value, :class => 'title', :id => "page_#{field.handle}" %>
              </div>
              <div class="submit">
                <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
              </div>
            <% end %>
          <% else %>
            <% form_for :custom_attribute, :url => admin_page_custom_attributes_path(@page.id), :html => { :style => 'display:none;' } do |f| %>
              <%= hidden_field_tag :field_id, field.id %>
              <label for="page_<%= field.handle %>"><%= field.label %></label>
              <div class="fullwidth">
                <%= f.text_field :value, :value => custom_attribute.value, :class => 'title', :id => "page_#{field.handle}" %>
              </div>
              <div class="submit">
                <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
              </div>
            <% end %>
          <% end %>
        </div>
        <% end -%>
      <% when 'TextField' -%>
        <% (@page.custom_attribute_for_field(field.id) || @page.custom_attributes.build).tap do |custom_attribute| -%>
        <div class="page_content attribute textfield">
          <div class="container">
            <h2 class="field_label"><%= field.label %></h2>
            <div class="content">
              <%= !field.allow_rich_text? ? simple_format(custom_attribute.value) : custom_attribute.value %>
            </div>
            <div class="edit"><a href="#">Ändra</a></div>
          </div>
          <% unless custom_attribute.new_record? -%>
            <% form_for :custom_attribute, :url => admin_page_custom_attribute_path(@page.id, custom_attribute.id), :html => { :method => :put, :style => 'display:none;' } do |f| %>
              <label for="page_<%= field.handle %>"><%= field.label %></label>
              <div class="fullwidth">
                <%= f.text_area :value, :value => custom_attribute.value, :class => (field.allow_rich_text? ? 'editor' : 'normal') %>
              </div>
              <div class="submit">
                <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
              </div>
            <% end %>
          <% else %>
            <% form_for :custom_attribute, :url => admin_page_custom_attributes_path(@page.id), :html => { :style => 'display:none;' } do |f| %>
              <%= hidden_field_tag :field_id, field.id %>
              <label for="page_<%= field.handle %>"><%= field.label %></label>
              <div class="fullwidth">
                <%= f.text_area :value, :value => custom_attribute.value, :class => (field.allow_rich_text? ? 'editor' : 'normal') %>
              </div>
              <div class="submit">
                <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
              </div>
            <% end %>
          <% end %>
        </div>
        <% end -%>
      <% when DateTimeField -%>
        <% @page.custom_attribute_for_field(field.id).tap do |custom_attribute| -%>
        <div class="page_content attribute textfield">
          <div class="container">
            <h2 class="field_label"><%= field.label %></h2>
            <div class="content">
              <%= custom_attribute.value.strftime("%Y-%m-%d") %>
            </div>
          </div>
        </div>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end %>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'porthos/jquery/jquery' %>
  <%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor.min', 'porthos/wymeditor/lang/sv', 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools', 'porthos/wymeditor/plugins/tidy/jquery.wymeditor.tidy' %>
  <%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
  <%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
  <%= javascript_include_tag 'porthos/editor' %>
  <%= javascript_include_tag 'porthos/pages' %>
<% end %>