<% @page_title = 'Sidor' -%>
<% @page_class = 'layout3' -%>
<div id="sub_nav">
  <% form_for :asset, :url => search_admin_assets_path(:type => params[:type]), :html => { :method => :get } do |f| %>
  <div class="search fullwidthinput">
    <%= text_field_tag :query, (@query || 'Sök'), :class => "search_query", :id=> "search_query" %>
    <%= submit_tag "Sök", :style => "display:none" %>
  </div>
  <% end %>
  <ul class="filter">
    <li<%= ' class="current"' unless @filters[:with_parent] %>><%= link_to "Alla", admin_pages_path(:filters => @filters.without(:with_parent)) %></a></li>
    <% PageCollection.all.each do |page_collection| -%>
    <li<%= ' class="current"' if @filters[:with_parent].to_i == page_collection.id %>><%= link_to page_collection.title, admin_pages_path(:filters => @filters.merge(:with_parent => page_collection.id)) %></li>
    <% end -%>
  </ul>
  <div class="label">Sortering</div>
  <ul class="filter">
    <li class="current"><a href="#">Datum</a></li>
    <li><a href="#">A-Z</a></li>
  </ul>
  <div class="label">Senast ändrad av</div>
  <ul class="filter">
    <li<%= ' class="current"' unless @filters[:updated_by] %>>
      <%= link_to "Alla", admin_pages_path(:filters => @filters.without(:updated_by)) %>
    </li>
    <% User.recent_contributers.each do |user| -%>
      <li<%= ' class="current"' if @filters[:updated_by].to_i == user.id %>>
        <%= link_to user.name, admin_pages_path(:filters => @filters.merge(:updated_by => user.id)) %>
      </li>
    <% end -%>
  </ul>
<% if @current_tags.any? -%>
  <div class="label">Valda nyckelord</div>
  <ul class="tags current">
  <% @current_tags.each do |current_tag| %>
    <li>
      <span class="tag"><%= current_tag %></span> <%= link_to "Ta bort", admin_pages_path(:tags => @current_tags - [current_tag]) %>
    </li>
  <% end -%>
  </ul>
  <% if @related_tags.any? -%>
  <div class="label">Relaterade nyckelord</div>
  <ul class="tags">
  <% @related_tags.each do |tag| -%>
    <li><%= link_to tag.name, admin_pages_path(:tags => @current_tags + [tag.name]), :class => "tag" %></li>
  <% end -%>
  </ul>
  <% end -%>
<% end -%>
<% if @tags.any? -%>
  <div class="label">Nyckelord</div>
  <%= render :partial => 'admin/tags/list_by_letter', :locals => { :tags => @tags } %>
<% end -%>
</div>
<div id="workspace">
  <div class="header">
    <h1>Sidor</h1>
  </div>
  <div class="tools">
    <%= link_to "Skapa en ny sida", (!@filters[:with_parent] ? new_admin_page_path : new_admin_page_path(:page => { :parent_id => @filters[:with_parent], :parent_type => 'Page' })), :class => 'create' %>
    <%= link_to "Skapa en ny sidsamling", new_admin_page_collection_path, :class => 'create' if current_user.can_create?(PageCollection) %>
  </div>
  <div id="content">
    <ul class="items">
    <% @pages.each do |page| %>
      <li>
      <%= render :partial => 'page', :locals => {:page => page} %>
      </li>
    <% end %>
    </ul>
  </div>
</div>