<% @page_title = 'Sidor' -%>
<% @page_class = 'layout3' -%>
<%= render :partial => 'admin/pages/sub_nav' %>
<div id="workspace">
  <% if @current_tags.any? -%>
  <div class="header">
    <h1>Sidor märkta med: <%= @current_tags.join(', ')%></h1>
  </div>
  <% else %>
  <div class="header">
    <h1>Sidor</h1>
  </div>
  <div class="tools">
    <div class="add">
      Skapa ny:
      <% @field_sets.each do |field_set| -%>
        <%= link_to field_set.title, (!@filters[:with_parent] ? new_admin_page_path(:page => { :field_set_id => field_set.id }) : new_admin_page_path(:page => { :field_set_id => field_set, :parent_id => @filters[:with_parent].split(',')[0], :parent_type => @filters[:with_parent].split(',')[1] })), :class => 'new' %>
      <% end if @field_sets.any? %>
      <%= link_to "Skapa en ny sidsamling", new_admin_page_collection_path, :class => 'new' if current_user.can_create?(PageCollection) %>
    </div>
    <% form_tag :url => admin_pages_path, :html => { :method => :get } do |f| %>
    <div class="sort">
      <label for="filters_order_by">Sortering:</label>
      <% @filters.except(:order_by).each do |filter, value| -%>
        <%= hidden_field_tag "filters[#{filter}]", value %>
      <% end -%>
        <%= select_tag 'filters[order_by]', options_for_select({ 'Senast ändrad' => 'changed_at desc', 'Publicerad' => 'published_on desc', 'A-Z' => 'title asc' }, @filters[:order_by]) %>
        <input type="submit" value="Välj" style="display:none;" id="filters_order_by_submit">
    </div>
    <% end %>
  </div>
  <% end %>
  <div id="content">
    <ul class="items">
    <% @pages.each do |page| %>
      <li>
      <%= render :partial => 'page', :locals => {:page => page} %>
      </li>
    <% end %>
    <%= will_paginate(@pages) if @pages.respond_to?(:total_pages) %>
    </ul>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/action_dialog', 'porthos/assets', 'porthos/asset_usages', 'porthos/pages', :cache => 'pages' %>