<% @page_title = "Skapa en ny sida" %>
<% @page_class = "AB content" -%>
<div id="workspace">
  <div class="header">
    <% unless @page.child? -%>
    <h1>Skapa en ny sida</h1>
    <% else -%>
    <h1>Skapa ny sida under ”<%= @page.parent.title.downcase %>”</h1>
    <% end -%>
  </div>
  <div id="content">
    <%= error_messages_for :node %>
    <%= error_messages_for :page %>
    <% form_for :page, :url => admin_pages_path, :html => { :id => 'page', :class => 'new' } do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <div class="submit">
        <%= f.submit "Skapa sidan" %> eller <%= link_to "avbryt", previous_view_path(admin_pages_path) %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/pages' %>