<% @page_title = "Ändra #{@page.title}" -%>
<div id="workspace">
  <div class="header">
    <h1><%= @page.title %></h1>
    <%= link_to "Inställningar", edit_admin_page_path(:id => @page, :return_to => request.request_uri), :class => 'edit_settings' %>
    <span class="away">
      <%= link_to("Alla #{@page.parent.title.downcase}", admin_pages_path(:filters => { :with_parent => "#{@page.parent_id},#{@page.parent_type}" })) if @page.child? && @page.parent_type == 'PageCollection' %>
      <% unless @page.is_a? PageCollection %>
        <%= link_to 'Förhandsgranska', preview_page_path(@page.id), :class => 'public_link' %>
      <% else %>
        <%= link_to "Lägg till / redigera sidor", admin_page_collection_path(@page) %>
      <% end %>
      <% if @page.comments.any? -%>
        <%= link_to 'Kommentarer', comments_admin_page_path(:id => @page), :class => 'comments' %>
      <% end -%>
    </span>
  </div>
  <div class="tools">
    <% if not @page.active? -%>
    <div class="add">
      Sida är inte publicerad och syns inte på webbplatsen än.
      <%= link_to "Publicera sidan", toggle_admin_page_path(@page), :method => :put, :class => 'new' %>
    </div>
    <% elsif @page.unpublished_changes? -%>
    <div class="add" id="publish_changes">
      <%= link_to "Publicera ändringar", publish_admin_page_path(@page), :method => :put, :class => 'new publish' %>
    </div>
    <% end -%>
    <% if !@page.child? && !@page.node -%>
    <div class="add">
      <%= link_to "Placera i navigationen", new_admin_node_path(:resource_id => @page.id), :class => 'new' %>
    </div>
    <% end -%>
  </div>
  <div id="content">
    <div id="page_<%= @page.id %>" class="page_layout <%= @page.layout_class %>">
    <% (1..@page.column_count).each do |column| -%>
      <div id="column_<%= column %>" class="column">
        <% if @page.column_count > 1 %>
        <div class="title">Kolumn #<%= column %></div>
        <% end %>
        <div class="sort_contents add controls">
          <a class="add new" href="#">Lägg till innehåll</a>
        </div>
        <div class="sub_controls" style="display:none;">
          <ul>
            <li><a href="<%= new_admin_content_path(:content => { :context_id => @page.id, :context_type => 'Page', :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentTextfield', :column_position => column }) %>">Text</a></li>
            <li><a href="<%= new_admin_content_path(:collection => 1, :content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'Teaser', :column_position => column }) %>">Puffar</a></li>
            <li><a href="<%= admin_assets_path(:filters => { :by_type => 'ImageAsset' }, :content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentImage', :column_position => column }) %>">Bild</a></li>
            <li><a href="<%= admin_assets_path(:filters => { :by_type => 'VideoAsset' }, :content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentVideo', :column_position => column }) %>">Video</a></li>
            <li><a href="<%= new_admin_content_path(:content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'RegistrationForm', :column_position => column }) %>">Formulär</a></li>
            <li><a href="<%= new_admin_content_path(:content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentTextfield', :column_position => column }, :resource => { :shared => 1 }) %>">Delat innehåll</a></li>
            <li><a href="<%= admin_assets_path(:filters => { :by_type => 'ImageAsset' }, :context_params => {:collection => 1}, :content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentImage', :column_position => column }) %>">Bildsamling</a></li>
            <li><a href="<%= new_admin_content_path(:content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentModule', :column_position => column }) %>">Modul</a></li>
          </ul>
        </div>
        <ul class="contents items sortable" id="contents_in_column_<%= column %>">
        <% @page.contents.find_all { |content| content.column_position == column }.each do |content| -%>
          <li class="<%= "#{content.resource_type} content" unless content.collection? %><%= ' collection' if content.collection? %> sortable <%= " shared" if content.shared? %><%= content.active? ? '' : ' inactive' %>" id="content_<%= content.id %>">
            <span class="draghandle"></span>
          <% if content.restricted? -%>
            <div class="restriction-info">
              <ul>
            <% content.restrictions.each do |restriction| -%>
                <li><%= t(restriction.mapping_key, :scope => [:app, :restrictions]) %></li>
            <% end -%>
              </ul>
            </div>
          <% end -%>
          <% unless content.collection? -%>
            <%= render :partial => content.resource_template, :locals => { :resource => content.resource, :content => content } %>
          <% else %>
            <%= render :partial => content.collection_template, :locals => { :content => content } %>
          <% end %>
          <% unless content.collection? -%>
            <span class="edit">
              <%= link_to("Ändra", edit_admin_content_path(content)) %>
              <%= link_to content.active? ? 'Dölj' : 'Visa', toggle_admin_content_path(content), :method => :put, :class => 'visibility' %>
              <%= link_to "Ta bort", admin_content_path(content), :method => :delete, :confirm => "Är du säker? Detta går inte att ångra.", :class => 'delete' %>
            </span>
          <% end %>
          </li>
        <% end -%>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/action_dialog', 'porthos/assets', 'porthos/asset_usages', 'porthos/pages', :cache => 'pages' %>
<%= javascript_include_extensions %>