<% @page_title = "Sidor > #{@page.title}" -%>
<% @page_class = "layout3" -%>
<div id="sub_nav">
<% if not @page.active? -%>
  <h2 class="label">Publicering</h2>
  <p>Sida är inte publicerad och syns inte på webbplatsen än.</p>
  <div id="publish_now" class="add"><%= link_to "Publicera sidan", toggle_admin_page_path(@page.id), :method => :put, :class => 'new' %></div>
<% end -%>
  <h2 class="label">Skapad och ändrad</h2>
  <% if @page.created_by -%>
  <p>Skapad av: <%= @page.created_by.name %>.</p>
  <% end -%>
  <% if @page.active? -%>
  <p>Publicerad: <%= @page.published_on.strftime("%d %B %Y") %>.</p>
  <% end -%>
  <p>Senast ändrad: <%= @page.updated_at.strftime("%d %B %Y") %><%= " av #{@page.updated_by.name}" if @page.updated_by %>.</p>
  <h2 class="label">Nyckelord</h2>
  <div id="page_tags">
    <div id="page_tags_list">
      <p class="tags">
      <%= @page.tags.collect { |tag| link_to("#{tag.name.downcase}", admin_pages_path(:tags => (params[:tags] || []).dup.push(tag.name)), :class => 'tag') }.join(', ') -%>
      </p>
      <p><a href="#">Ändra</a></p>
    </div>
    <% form_for [:admin, @page], :html => { :id => 'page_tags_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.text_field :tag_names %>
        <input type="submit" value="Spara"> eller <a href="#">avbryt</a>
      </div>
    <% end -%>
  </div>
</div>
<div id="workspace">
  <div class="header">
    <span class="away">
      <a href="#" class="edit_settings toggler action">Ändra</a>
      <% if @page.active? -%>
        <%= link_to "Visa på webbplatsen", '/'+@page.full_slug, :class => 'public_link action' %>
      <% else -%>
      <%= link_to "Förhandsgranska", preview_page_path(@page.id), :class => 'public_link action' %>
      <% end -%>
    </span>
    <div class="parents"><%= link_to @page.field_set.title, admin_pages_path(:filters => { :with_field_set => @page.field_set.id }) %></div>
    <div class="page_title">
      <h1><%= @page.title %></h1>
      <% if @page.node -%>
        <span class="status <%= @page.node.access_status %>">
        <% case @page.node.access_status
           when 'active' -%>
          Visas
        <% when 'hidden' -%>
          Visas inte
        <% when 'inactive' -%>
          Avstängd
        <% end -%>
        </span>
      <% elsif @page.index_node -%>
        <% if @page.active? -%>
        <span class="status active">Visas</span>
        <% else -%>
        <span class="status inactive">Avstängd</span>
        <% end -%>
      <% end %>
    </div>
    <% if @page.node -%>
      <div class="navigation">
        <span class="key">Namn i navigationen:</span>
        <span class="value"><%= @page.node.name %></span>
      </div>
      <div class="slug">
        <span class="key">Adress:</span>
        <span class="value"><%= request.host %>/<%= @page.node.slug %></span>
      </div>
    <% elsif @page.index_node %>
      <div class="slug">
        <span class="key">Adress:</span>
        <span class="value"><%= request.host %>/<%= @page.index_node.slug %>/<%= @page.to_param %></span>
      </div>
    <% end %>
  </div>
  <div class="header" style="display:none;">
    <% form_for @page, :url => admin_page_path(@page.id) do |f| %>
      <% if @page.node -%>
        <label for="page_main_title" class="first_label"><%= @page.field_set.page_label.present? ? @page.field_set.page_label : "Titel" %></label>
        <div class="fullwidth">
          <%= f.text_field :title, :class => 'title', :id => 'page_main_title' %>
        </div>
        <% f.fields_for :node, @page.node do |node_form| %>
          <label for="page_node_attributes_name" class="notasimportant">Namn i navigationen</label>
          <%= node_form.text_field :name, :size => 60, :id => 'page_title' %>
          <div class="slug_field">
            <label for="page_slug">Adress:</label>
            <%= "#{request.host}/#{@page.node.parent.slug}" %><%= f.text_field :slug %>
          </div>
          <ul class="multiple_choice">
            <li>
              <label for="shown_in_nav">
                <%= node_form.radio_button :status, 1, :id => 'shown_in_nav' %>
                Visas i navigationen <span class="form_help">Och är tillgänglig på internet.</span>
              </label>
            </li>
            <li>
              <label for="not_shown_in_nav">
                <%= node_form.radio_button :status, 0, :id => 'not_shown_in_nav' %>
                Visas inte i navigationen. <span class="form_help">Men är tillgänglig på internet.</span>
              </label>
            </li>
            <li>
              <label for="restricted">
                <%= node_form.radio_button :status, -1, :id => 'restricted' %>
                Avstängd <span class="form_help">Är ej tillgänglig på internet.</span>
              </label>
            </li>
          </ul>
        <% end %>
      <% else -%>
        <label for="page_title" class="first_label"><%= @page.field_set.page_label.present? ? @page.field_set.page_label : "Titel" %></label>
        <div class="fullwidth">
          <%= f.text_field :title, :class => 'title' %>
        </div>
        <div class="slug_field">
          <label for="page_slug">Adress:</label> <%= "#{request.host}/#{@page.index_node.slug}/#{@page.id}-" if @page.index_node %>
          <%= f.text_field :slug %>
        </div>
      <% end %>
      <div class="submit"> 
        <input type="submit" value="Spara"> eller <a href="#" class="toggler">avbryt</a> 
      </div> 
    <% end %>
  </div>
  <div id="content" class="page_contents">
  <% @page.field_set.fields.each do |field| -%>
    <% next if field.is_a?(ReversedPageAssociationField) -%>
    <div class="page_content <%= field.data_type == CustomAssociation ? ['association', field.target_type, field.relationship].join(' ') : ['attribute', field.class.to_s.underscore].join(' ') %>">
    <% if field.data_type == CustomAssociation %>
      <% @page.custom_associations.find(:all, :conditions => ["field_id = ?", field.id], :order => 'custom_associations.position').tap do |custom_associations| %>
        <div class="container">
          <h2 class="field_label"><%= field.label %></h2>
        <% if custom_associations.any? -%>
          <% if field.target_type == 'asset' -%>
            <% custom_associations.each do |custom_association| -%>
              <% custom_association.target.tap do |asset| -%>
              <div class="content">
                <% if asset.image? %>
                  <%= image_tag display_image_path(:size => 'c100x100', :id => asset, :format => asset.extname), :id => "asset_#{asset.id}", :width => 100, :height => 100 %>
                <% elsif asset.respond_to?(:thumbnail) and not asset.thumbnail.blank? %>
                  <%= image_tag display_image_path(:size => 'c100x100', :id => asset.thumbnail, :format => asset.thumbnail.extname), :id => "asset_#{asset.id}", :width => 100, :height => 100 %>
                <% else %>
                  <img src="/graphics/porthos/icons/filetypes/<%= asset.extname %>.png" alt="" width="100" height="100">
                <% end %>
                <div class="title"><%= asset.title %></div>
                <div class="caption"><%= asset.description %></div>
                <span class="edit"><%= link_to "Ändra", edit_admin_asset_path(asset.id, :return_to => request.path) %></span>
                <span class="delete"><%= link_to "Ta bort", admin_page_custom_association_path(@page.id, custom_association), :method => :delete %></span>
              </div>
              <% end -%>
            <% end -%>
          <% elsif field.target_type == 'page' -%>
            <ul class="pages sortable" id="page_<%= field.handle %>_list">
            <% custom_associations.each do |custom_association| -%>
              <li id="custom_association_<%= custom_association.id %>">
                <span class="drag_handle"></span>
                <%= link_to custom_association.target.title, admin_page_path(custom_association.target), :class => 'page' %>
                <% unless custom_associations.size == 1 && field.required? -%>
                <%= link_to("Ta bort", admin_page_custom_association_path(@page, custom_association), :class => 'delete', :method => :delete) %>
                <% end -%>
              </li>
            <% end -%>
            </ul>
          <% end -%>
        <% end -%>
          <div class="edit">
            <% if field.target_type == 'asset' && !(field.relationship == 'one_to_one' && custom_associations.any?)-%>
              <%= link_to "Lägg till fil", admin_assets_path(:create_callback => {:controller => 'admin/custom_associations', :action => 'create', :method => 'post', :asset_field_name => 'custom_association[target_id]', :params => { :page_id => @page, 'custom_association[target_type]' => field.target_class.to_s, 'custom_association[context_id]' => @page.id, 'custom_association[context_type]' => 'Page', 'custom_association[handle]' => field.handle, 'custom_association[field_id]' => field.id, 'custom_association[relationship]' => field.relationship }}) %>
            <% elsif field.target_type == 'page' -%>
              <% if field.relationship == 'one_to_one' -%>
                <a href="#" class="change">Ändra <%= field.label %></a>
              <% elsif custom_associations.size != field.possible_targets.size -%>
                <a href="#" class="add">Lägg till <%= field.label %></a>
              <% end -%>
            <% end -%>
          </div>
        </div>
        <% if field.target_type == 'page' -%>
           <% if field.relationship == 'one_to_many' -%>
              <% form_for :custom_association, :url => admin_page_custom_associations_path(@page.id), :html => { :style => 'display:none;', :class => 'select_page' } do |f| %>
                <%= f.hidden_field :target_type, :value => field.target_class.to_s %>
                <%= f.hidden_field :field_id, :value => field.id %>
                <%= f.hidden_field :handle, :value => field.handle %>
                <%= f.hidden_field :relationship, :value => field.relationship %>
                <label for="page_<%= field.label %>"><%= field.label %></label>
                <%= f.select :target_id, field.possible_targets.find_all { |pt| !custom_associations.collect { |ca| ca.target_id }.include?(pt['id'].to_i) }.collect { |pt| [pt['title'], pt['id']] }, :selected => custom_associations.collect { |ca| ca.target_id } %>
                <div class="submit_inline">
                  <input type="submit" value="Lägg till">
                  eller <a href="#" class="cancel">avbryt</a>
                </div>
              <% end -%>
            <% elsif field.relationship == 'one_to_one' -%>
              <% if custom_associations.any? -%>
                <% form_for custom_associations.first, :url => admin_page_custom_association_path(@page.id, custom_associations.first), :html => { :method => :put, :style => 'display:none;' } do |f| %>
                  <label for="page_<%= field.label %>"><%= field.label %></label>
                  <%= f.select :target_id, field.possible_targets.collect { |pt| [pt['title'], pt['id']] } %>
                  <div class="submit_inline">
                    <input type="submit" value="<%= field.relationship == 'one_to_one' ? 'Ändra' : 'Lägg till' %>"> eller <a href="#" class="cancel">avbryt</a>
                  </div>
                <% end -%>
              <% else -%>
                <% form_for :custom_association, :url => admin_page_custom_associations_path(@page.id), :html => { :style => 'display:none;' } do |f| %>
                  <%= f.hidden_field :target_type, :value => field.target_class.to_s %>
                  <%= f.hidden_field :field_id, :value => field.id %>
                  <%= f.hidden_field :handle, :value => field.handle %>
                  <%= f.hidden_field :relationship, :value => field.relationship %>
                  <label for="page_<%= field.label %>"><%= field.label %></label>
                  <%= f.select :target_id, field.possible_targets.find_all { |pt| !custom_associations.collect { |ca| ca.target_id }.include?(pt['id'].to_i) }.collect { |pt| [pt['title'], pt['id']] } %>
                  <div class="submit_inline">
                    <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
                  </div>
                <% end -%>
              <% end -%>
            <% end -%>
        <% end -%>
      <% end -%>
    <% else -%>
      <% (@page.custom_attribute_for_field(field.id) || @page.custom_attributes.build).tap do |custom_attribute| -%>
      <% case field.class.to_s
         when 'StringField' -%>
          <div class="container">
            <h2 class="field_label"><%= field.label %></h2>
            <div class="content"><%= custom_attribute.value %></div>
            <div class="edit"><a href="#" class="change">Ändra</a></div>
          </div>
          <% unless custom_attribute.new_record? -%>
            <% form_for :custom_attribute, :url => admin_page_custom_attribute_path(@page.id, custom_attribute.id), :html => { :method => :put, :style => 'display:none;' } do |f| %>
              <label for="page_<%= field.handle %>"><%= field.label %></label>
              <div class="fullwidth">
                <%= f.text_field :value, :value => custom_attribute.value, :class => 'title', :id => "page_#{field.handle}" %>
              </div>
              <div class="submit">
                <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
              </div>
            <% end %>
          <% else %>
            <% form_for :custom_attribute, :url => admin_page_custom_attributes_path(@page.id), :html => { :style => 'display:none;' } do |f| %>
              <%= hidden_field_tag :field_id, field.id %>
              <label for="page_<%= field.handle %>"><%= field.label %></label>
              <div class="fullwidth">
                <%= f.text_field :value, :value => custom_attribute.value, :class => 'title', :id => "page_#{field.handle}" %>
              </div>
              <div class="submit">
                <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
              </div>
            <% end %>
          <% end %>
      <% when 'TextField' -%>
        <div class="container">
          <h2 class="field_label"><%= field.label %></h2>
          <div class="content">
            <%= !field.allow_rich_text? ? simple_format(custom_attribute.value) : custom_attribute.value %>
          </div>
          <div class="edit"><a href="#" class="change">Ändra</a></div>
        </div>
        <% unless custom_attribute.new_record? -%>
          <% form_for :custom_attribute, :url => admin_page_custom_attribute_path(@page.id, custom_attribute.id), :html => { :method => :put, :style => 'display:none;' } do |f| %>
            <label for="page_<%= field.handle %>"><%= field.label %></label>
            <div class="fullwidth">
              <%= f.text_area :value, :value => custom_attribute.value, :class => (field.allow_rich_text? ? 'editor' : 'normal') %>
            </div>
            <div class="submit">
              <input type="submit" value="Spara" class="commit button"> eller <a href="#" class="cancel">avbryt</a>
            </div>
          <% end %>
        <% else %>
          <% form_for :custom_attribute, :url => admin_page_custom_attributes_path(@page.id), :html => { :style => 'display:none;' } do |f| %>
            <%= hidden_field_tag :field_id, field.id %>
            <label for="page_<%= field.handle %>"><%= field.label %></label>
            <div class="fullwidth">
              <%= f.text_area :value, :value => custom_attribute.value, :class => (field.allow_rich_text? ? 'editor' : 'normal') %>
            </div>
            <div class="submit">
              <input type="submit" value="Spara" class="commit button"> eller <a href="#" class="cancel">avbryt</a>
            </div>
          <% end %>
        <% end %>
      <% when 'DateTimeField' -%>
        <div class="container">
          <h2 class="field_label"><%= field.label %></h2>
          <div class="content">
            <%= custom_attribute.value.strftime("%Y-%m-%d") if custom_attribute.value %>
          </div>
          <div class="edit"><a href="#" class="change">Ändra</a></div>
        </div>
        <% unless custom_attribute.new_record? %>
          <% form_for :custom_attribute, :url => admin_page_custom_attribute_path(@page.id, custom_attribute.id), :html => { :method => :put, :style => 'display:none;' } do |f| %>
            <%= hidden_field_tag :field_id, field.id %>
            <label for="page_<%= field.handle %>">
              <%= field.label %>
            </label>
            <div>
              <%= select_date((custom_attribute.value||Time.now), :order => [:year, :month, :day], :prompt => true, :prefix => 'custom_attribute[value]') %>
            </div>
            <div class="submit">
              <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
            </div>
          <% end %>
        <% else %>
          <% form_for :custom_attribute, :url => admin_page_custom_attributes_path(@page.id), :html => { :style => 'display:none;' } do |f| %>
            <%= hidden_field_tag :field_id, field.id %>
            <label for="page_<%= field.handle %>">
              <%= field.label %>
            </label>
            <div>
              <%= select_date((custom_attribute.value||Time.now), :order => [:year, :month, :day], :prompt => true, :prefix => 'custom_attribute[value]') %>
            </div>
            <div class="submit">
              <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
            </div>
          <% end %>
        <% end %>
      <% when 'BooleanField' -%>
        <div class="container">
          <h2 class="field_label <%= custom_attribute.value == true ? 'checked' : 'unchecked' %>"><%= field.label %></h2>
          <div class="content"><%= custom_attribute.value == true ? 'Ja' : 'Nej' %></div>
          <div class="edit"><a href="#" class="change">Ändra</a></div>
        </div>
        <% unless custom_attribute.new_record? -%>
          <% form_for :custom_attribute, :url => admin_page_custom_attribute_path(@page.id, custom_attribute.id), :html => { :method => :put, :style => 'display:none;' } do |f| %>
            <%= hidden_field_tag :field_id, field.id %>
            <label for="page_<%= field.handle %>" class="contains-input">
              <%= f.check_box :value, :checked => custom_attribute.value == true %>
              <%= field.label %>
            </label>
            <div class="submit">
              <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
            </div>
          <% end %>
        <% else -%>
          <% form_for :custom_attribute, :url => admin_page_custom_attributes_path(@page.id), :html => { :style => 'display:none;' } do |f| %>
            <%= hidden_field_tag :field_id, field.id %>
            <label for="page_<%= field.handle %>" class="contains-input">
              <%= f.check_box :value, :checked => custom_attribute.value == true %>
              <%= field.label %>
            </label>
            <div class="submit">
              <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
            </div>
          <% end %>
        <% end -%>
      <% end -%>
    <% end -%>
    <% end -%>
    </div>
  <% end %>
    <div id="page_<%= @page.id %>" class="page_layout <%= @page.layout_class %>">
    <% (1..@page.template.columns).each do |column| -%>
      <div id="column_<%= column %>" class="column">
        <% if @page.column_count > 1 %>
        <div class="title">Kolumn #<%= column %></div>
        <% end %>
        <div class="sort_contents add controls">
          <a class="add new" href="#">Lägg till innehåll</a>
        </div>
        <div class="sub_controls" style="display:none;">
          <ul>
            <li><a href="<%= new_admin_content_path(:content => { :context_id => @page.id, :context_type => 'Page', :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentTextfield', :column_position => column }) %>">Text</a></li>
            <li><a href="<%= new_admin_content_path(:collection => 1, :content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentTeaser', :column_position => column }) %>">Puffar</a></li>
            <li><a href="<%= admin_assets_path(:filters => { :by_type => 'ImageAsset' }, :create_callback => {:controller => 'admin/contents', :action => 'new', :asset_field_name => 'resource[image_asset_id]', :params => {'content[context_id]' => @page.id, 'content[context_type]' => 'Page', 'content[resource_type]' => 'ContentImage', 'content[column_position]' => column }}) %>">Bild</a></li>
            <li><a href="<%= admin_assets_path(:filters => { :by_type => 'VideoAsset' }, :create_callback => {:controller => 'admin/contents', :action => 'new', :asset_field_name => 'resource[video_asset_id]', :params => {'content[context_id]' => @page.id, 'content[context_type]' => 'Page', 'content[resource_type]' => 'ContentVideo', 'content[column_position]' => column }}) %>">Video</a></li>
            <li><a href="<%= new_admin_content_path(:content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'RegistrationForm', :column_position => column }) %>">Formulär</a></li>
            <li><a href="<%= admin_assets_path(:filters => { :by_type => 'ImageAsset' }, :create_callback => {:controller => 'admin/contents', :action => 'new', :asset_field_name => 'resource[image_asset_id]', :params => {'content[context_id]' => @page.id, 'content[context_type]' => 'Page', 'content[resource_type]' => 'ContentImage', 'content[column_position]' => column, :collection => 1 }}) %>">Bildsamling</a></li>
            <li><a href="<%= new_admin_content_path(:content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'ContentModule', :column_position => column }) %>">Modul</a></li>
          </ul>
        </div>
        <ul class="contents items sortable" id="contents_in_column_<%= column %>">
        <% @page.contents.find_all { |content| content.column_position == column }.each do |content| -%>
          <li class="<%= "#{content.resource_type} content" unless content.collection? %><%= ' collection' if content.collection? %> sortable <%= content.active? ? '' : ' inactive' %>" id="content_<%= content.id %>">
            <span class="draghandle"></span>
          <% if content.restricted? -%>
            <div class="restriction-info">
              <ul>
            <% content.restrictions.each do |restriction| -%>
                <li><%= t(restriction.mapping_key, :scope => [:app, :restrictions]) %></li>
            <% end -%>
              </ul>
            </div>
          <% end -%>
          <% unless content.collection? -%>
            <%= render :partial => content.resource_template, :locals => { :resource => content.resource, :content => content } %>
          <% else %>
            <%= render :partial => content.collection_template, :locals => { :content => content } %>
          <% end %>
          <% unless content.collection? -%>
            <span class="edit">
              <%= link_to("Ändra", edit_admin_content_path(content)) %>
              <%= link_to content.active? ? 'Dölj' : 'Visa', toggle_admin_content_path(content), :method => :put, :class => 'visibility' %>
              <%= link_to "Ta bort", admin_content_path(content), :method => :delete, :confirm => "Är du säker? Detta går inte att ångra.", :class => 'delete' %>
            </span>
          <% end %>
          </li>
        <% end -%>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'porthos/jquery/jquery', 'porthos/jquery.hotkeys-0.7.9.min' %>
  <%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor', 'porthos/wymeditor/lang/sv', 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools', 'porthos/wymeditor/plugins/tidy/jquery.wymeditor.tidy' %>
  <%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
  <%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
  <%= javascript_include_tag 'porthos/wymeditor/plugins/catchpaste/jquery.wymeditor.catchpaste' %>
  <%= javascript_include_tag 'porthos/editor' %>
  <%= javascript_include_tag 'porthos/assets', 'porthos/asset_usages', 'porthos/pages', :cache => 'pages' %>
<% end %>