<style type="text/css">
  .comments {
    width:100%;
    margin-bottom:10px;
    border-collapse:collapse;
    font-size:12px;
    color:#666; 
    border-bottom:1px solid #ccc;}
    .comments th,
    .comments td {
      vertical-align:top;
      text-align:left;
      padding:10px; }
    .comments td {
      border-top:1px solid #ccc; }
    
    .comments .details {width:130px;}
    .comments .author {width:150px;}
    .comments .spam {width:120px;}
      
      .comments .created_at, 
      .comments .ip_address,
      .comments .spam_score,
      .comments a {display: block;}
      
      .comments .created_at,
      .comments .commentable a,
      .comments .reference {padding-left: 22px;}
      .comments .name { 
        color: #000;
        font-weight: bold; }
      .comments .reference {
        font-weight:bold;
        font-size:16px; }
      .comments .is_spam { background: url(/graphics/porthos/icons/16_failed.png) no-repeat transparent; background-position:0 3px; }
      .comments .spam .is_spam {
        background: none; 
        color: #f00;
        font-weight: bold;}
</style>
<div id="workspace">
  <div class="header">
    <h1>Kommentarer</h1>
  </div>
  <div class="tools">
    <% if @show_spam %>
      <%= link_to "Göm spam", admin_comments_path(:spam => 0) %>
      <%= link_to "Radera all spam", destroy_all_spam_admin_comments_path(:return_to => admin_comments_path(:page => @comments.current_page)), :method => 'delete', :confirm => 'Är du säker på att du vill radera all spam?' %>
    <% else %>
      <%= link_to "Visa spam", admin_comments_path(:spam => 1) %>
    <% end %>
  </div>
  <div id="content">
    <% if @comments.any? -%>
      <%= render :partial => "table", :locals => { :comments => @comments, :return_to => admin_comments_path(:page => @comments.current_page) } %>
    <% else -%>
      <p class="blank-slate">Det finns inga kommentarer</p>
    <% end -%>
    <%= will_paginate @comments %>
  </div>
</div>