<% @page_class = "A content" -%>
<% @page_id = "redirects" -%>
<% @page_title = "Vidarebefordringar" -%>
<div id="content_header">
  <h1>Vidarebefordringar</h1>
</div>
<div id="container">
  <div id="content">
    <div id="ca">
      <span class="controls">
        <%= link_to "Skapa ny vidarebefordring", new_admin_redirect_path, :class => 'create' %>
      </span>
      <div class="inner">
      <% if @redirects %>  
        <ul class="gl">
        <% @redirects.each do |redirect| %>  
          <li class="<%= cycle 'odd', 'even' %>">
            <span class="path"><%= link_to redirect.path, redirect.path %></span> &rarr; <span class="target"><%= link_to redirect.target, redirect.target %></span>
            <span class="controls general">
              <%= link_to "Ändra", edit_admin_redirect_path(redirect), :class => 'edit' %>
              <%= link_to "Radera", admin_redirect_path(redirect), :method => :delete, :class => 'delete', :confirm => 'Är du säker?' %>
            </span>
          </li>
        <% end %>
        </ul>
      <% else %>
        <p class="blank-slate">Det finns inga vidarebefordringar inlagda än.</p>
      <% end %>
      </div>
    </div>
  </div>
</div>