<% archive_holder = @page.child? ? @page.parent : @page -%>
<% pages = archive_holder.pages.active.published.find(:all, :limit => 5) -%>
<% if pages.any? -%>
<h2>Senaste <%= archive_holder.title.downcase %></h2>
<ul>
<% pages.group_by { |p| p.published_on.beginning_of_day }.sort.reverse.each do |date, pages| -%>
  <li>
    <% year, month, day = date.strftime("%Y"), date.strftime("%m"), date.strftime("%d") -%>
    <span class="date"><%= date.day %> <%= date.strftime("%B") %> <%= year %></span>
    <ul>
    <% pages.each do |page| -%>
      <li><a href="/<%= [archive_holder.node.slug, year, month, day, page.slug].join('/') %>"><%= page.title %></a></li>
    <% end -%>
    </ul>
  </li>
<% end -%>
</ul>
<% end -%>