<% @page_title = "Ändra puff" %>
<div id="workspace">
  <div class="header">
    <h1>Ändra puff</h1>
  </div>
  <div id="content">
    <div id="c_1"><div class="inner">
      <% form_for :content, :url => admin_content_path(@content), :html => { :multipart => true, :method => :put } do |f| %>
        <%= render :partial => 'admin/contents/content_teasers/form', :locals => { :content => @content, :f => f } %>
        <%= submit_tag 'Spara', :class => 'commit button' %> eller <%= link_to "avbryt", previous_view_path %>
      <% end %>
    </div></div>
    <div id="c_2"><div class="inner">
      <div id="asset_usages" class="sortable">
      <% @content.resource.asset_usages.each do |asset_usage| %>
        <%= render :partial => 'admin/asset_usages/asset_usage', :locals => { :asset_usage => asset_usage } %>
      <% end %>
      </div>
      <div class="add">
        <%= link_to "Lägg till bild", admin_assets_path(:asset_usage => { :parent_id => @content.resource.id, :parent_type => @content.resource.class.name }, :context_params => { :return_to => request.request_uri }), :class => 'new' %>
      </div>
    </div></div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/jquery/jquery' %>
<%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor.min', 'porthos/wymeditor/lang/sv', 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools', 'porthos/wymeditor/plugins/tidy/jquery.wymeditor.tidy' %>
<%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
<%= javascript_include_tag 'porthos/codemirror/codemirror' %>
<%= javascript_include_tag 'porthos/editor' %>
<script type="text/javascript">
  Porthos.Editor.Initialize();
  $$('a.new, a.asset_usage_settings').each(function(element){
    element.observe('click', function(ev) {
      if(!confirm('Om du har ändrat innehållet för puffen och går vidare kommer ändringarna inte att sparas. Klicka på OK för att gå vidare utan att spara.')){
        ev.stop();
      }
    });
  });
</script>