<% if page_collection = PageCollection.find_by_title('Nyheter') -%>
<% if content and not content.settings.value_for(:tags).blank? %>
  <% pages = page_collection.pages.published.find_tagged_with(:tags => content.settings.value_for(:tags), :limit => (content.settings.value_for(:display_count) || 5), :order => 'published_on desc') -%>
<% else %>
  <% pages = page_collection.pages.published.find(:all, :limit => (content.settings.value_for(:display_count) || 5), :order => 'published_on desc') -%>
<% end %>
<% if pages.any? %>
  <div class="latest_news">
  <h1>Nyheter</h1>
  <ul>
  <% pages.group_by { |p| p.published_on.beginning_of_day }.sort.reverse.each do |date, pages| -%>
    <li>
      <% year, month, day = date.strftime("%Y"), date.strftime("%m"), date.strftime("%d") -%>
      <span class="date"><%= date.day %> <%= date.strftime("%B") %> <%= year %></span>
      <ul>
      <% pages.each do |page| -%>
        <li><a href="/<%= page_collection.node.slug %>/<%= year %>/<%= month %>/<%= day %>/<%= page.slug %>"><%= page.title %></a></li>
      <% end -%>
      </ul>
    </li>
  <% end if pages.any? -%>
    <li class="more_news"><a href="/<%= page_collection.node.slug %>">Fler nyheter »</a></li>
    <li class="newsletter"><a href="/nyhetsbrev">Nyhetsbrev »</a></li>
    <li class="syndicate"><a href="/<%= page_collection.node.slug %>.rss">RSS</a></li>
  </ul>
  </div>
  <% end %>
<% end %>