<div id="sub_nav">
  <% form_for :asset, :url => search_admin_assets_path(:type => params[:type]), :html => { :method => :get } do |f| %>
    <div class="search fullwidthinput">
      <%= text_field_tag :query, (@query || 'Sök'), :class => "search_query", :id=> "search_query" %>
      <%= submit_tag "Sök", :style => "display:none" %>
    </div>
  <% end %>
  <ul class="filter">
    <%= asset_filter_links(@filters).join(' ') %>
  </ul>
  <div class="label">Sortering</div>
  <% form_tag admin_assets_path, :method => :get do |f| %>
    <% @filters.without(:order_by).each do |filter, value| -%>
      <%= hidden_field_tag "filters[#{filter}]", value %>
    <% end -%>
    <div>
      <%= select_tag 'filters[order_by]', options_for_select({ 'Datum' => 'created_at desc', 'A-Z' => 'title asc', 'Storlek' => 'size' }, @filters[:order_by]) %>
      <input type="submit" value="Välj" id="filters_order_by_submit">
    </div>
  <% end %>
  <div class="label">Uppladdad av</div>
  <ul class="filter">
    <li<%= ' class="current"' unless @filters[:created_by] %>>
      <%= link_to "Alla", admin_assets_path(:filters => @filters.without(:created_by)) %>
    </li>
    <% User.recent_uploaders.each do |user| -%>
      <li<%= ' class="current"' if @filters[:created_by].to_i == user.id %>>
        <%= link_to user.name, admin_assets_path(:filters => @filters.merge(:created_by => user.id)) %>
      </li>
    <% end -%>
  </ul>
<% if @current_tags && @current_tags.any? -%>
  <div class="label">Valda nyckelord</div>
    <ul class="tags current">
    <% @current_tags.each do |current_tag| -%>
      <li><span class="tag"><%= current_tag %></span> <%= link_to "Ta bort", admin_assets_path(:tags => @current_tags - [current_tag]) %></li>
    <% end -%>
    </ul>
  <% if @related_tags && @related_tags.any? -%>
  <div class="label">Relaterade nyckelord</div>
  <ul class="tags">
    <% @related_tags.each do |tag| %>
    <li><%= link_to tag.name, admin_assets_path(:tags => @current_tags + [tag.name]), :class => "tag" %></li>
    <% end %>
  </ul>
  <% end -%>
<% end -%>
<% if @tags && @tags.any? -%>
  <div class="label">Nyckelord</div>
  <ul class="tags">
  <% @tags.sort_by(&:name).group_by { |tag| tag.name[0...1].upcase }.each do |first_letter, tags| -%>
    <li>
      <span class="letter"><%= first_letter %></span>
      <%= tags.collect { |tag| link_to("#{tag.name.downcase}", admin_assets_path(:tags => [tag.name]), :class => "tag") }.join(', ') -%>
    </li>
  <% end -%>
  </ul>
<% end -%>
</div>
