<% @page_title = "Ändra fil: #{@asset.title}" %>
<div id="workspace">
  <div class="header">
    <h1><span class="pre">Ändra filen</span> <%= @asset.title %></h1>
  </div>
  <div id="content">
    <div id="c_1">
      <div class="asset<%= " #{@asset.class}" %>">
        <% if @asset.image? %>
          <%= image_tag display_image_path(:size => '320', :id => @asset, :format => @asset.extname), :id => "asset_#{@asset.id}" %>
        <% elsif @asset.movie? %>
          <%= flash_mediaplayer_tag(@asset, { :width => '320', :height => '240' }) %>
        <% elsif @asset.sound? %>
          <%= flash_mediaplayer_tag(@asset, { :width => '320', :height => '20' }) %>
        <% else %>
          <img src="/graphics/porthos/icons/filetypes/<%= @asset.extname %>.png" alt="" width="100" height="100" class="icon">
        <% end %>
      </div>
      <div class="meta">
        <ul>
          <li><span>Uppladdad</span> <%= @asset.created_at.strftime("%d %B %Y") %></li>
          <li><span>Filnamn</span> <%= "#{@asset.file_name}.#{@asset.extname}" %></li>
          <li><span>Storlek</span> <%= number_to_human_size(@asset.size, 0) %></li>
          <li><%= link_to "Ladda ned orginal", download_asset_path(@asset.file_name, @asset.extname) %></li>
        </ul>
      </div>
    </div>
    <div id="c_2">
      <% form_for :asset, @asset, :url => admin_asset_url(@asset), :html => { :method => :put } do |f| %>
        <fieldset>
          <label for="asset_title">Titel</label>
          <div class="fullwidthinput">
            <%= f.text_field "title", :size => 40, :class => "title" %>
            <p class="form_help after">Skriv vad bilden/filmen/dokumentet föreställer. Används som alternativ text när bilder inte visas.</p>
          </div>
          <label for="asset_description">Beskrivning</label>
          <div class="fullwidthinput"><%= f.text_area "description", :class => 'descripition', :rows => 6, :cols => 40 %></div>
          <label for="asset_author">Fotograf/copyright</label>
          <div class="fullwidthinput"><%= f.text_field "author", :size => 50 %></div>
          <label for="asset_tag_names">Nyckelord <span class="form_help">dela flera nyckelord med mellanslag</span></label>
          <div class="fullwidthinput"><%= f.text_field :tag_names, :value => @asset.tag_names, :class => 'asset_tags', :size => 50 %></div>
        </fieldset>
        <fieldset class="submit">
          <%= submit_tag 'Spara ändringar' %> eller <%= link_to "avbryt", previous_view_path(admin_assets_path) %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/assets', 'porthos/swfobject', 'porthos/mediaplayer', :cache => 'assets' %>
