<h1>
  Välj fil <span class="info">eller <a href="#" class="cancel">avbryt</a></span>
  <span class="controls">
    <% form_for :asset, :url => search_admin_assets_path, :html => { :method => :get, :class => 'search_assets' } do |f| %>
      <input class="search query" type="text" name="query">
      <input style="display:none" type="submit" value="Sök">
    <% end %>
  </span>  
</h1>
<div class="column column1">
  <div class="inner">
    <ul class="assets">
    <% @assets.each do |asset| -%>
      <li class="asset" id="asset_<%= asset.id %>">
      <% if asset.image? %>
        <%= image_tag display_image_path(:size => 'c87x87', :id => asset, :format => asset.extname), :id => "asset_#{asset.id}" %>
      <% elsif asset.movie? and asset.thumbnail %>
        <%= image_tag display_image_path(:size => 'c87x87', :id => asset.thumbnail, :format => asset.thumbnail.extname), :id => "asset_#{asset.id}" %>
      <% else %>
        <span class="icon <%= asset.extname %>"></span>
      <% end %>
      <div class="meta">
        <span class="title">Titel: <span class="value"><%= asset.title %></span></span>
        <span class="cerated_at">Uppladdad: <span class="value"><%= asset.created_at.strftime("%Y-%m-%d") %></span></span>
        <span class="file_name">Filnamn: <span class="value"><%= "#{asset.file_name}.#{asset.extname}" %></span></span>
      </div>
      </li>
    <% end -%>
    </ul>
    <%= will_paginate @assets, :prev_label => "« Föregående", :next_label => "Nästa »" unless @current_tags.any? %>
  </div>
</div>
<div class="column column2">
  <div class="inner">
    <% form_for :asset, @asset, :url => admin_assets_path, :html => { :class => 'tiny', :id => 'upload_asset_form', :multipart => true } do |f| %>
      <h2 class="label">Ladda upp en ny fil</h2>
      <ul class="gl">
        <li>
          <label class="mini" for="file">Fil</label> <%= f.file_field :file, { :size => 15 } %>
        </li>
        <li class="nb">
          <input class="button" type="submit" value="Ladda upp">
        </li>
      </ul>
    <% end %>
  </div>
</div>