<h1>
  Sökresultat för <span class="query"><%= @query %></span>. Välj en bild <span class="info">eller <a href="#" class="back">avbryt</a></span>
  <span class="controls">
    <% form_for :asset, :url => search_admin_assets_path, :html => { :method => :get, :class => 'search_assets' } do |f| %>
      <input class="search" type="text" name="query" id="query">
      <input style="display:none" type="submit" value="Sök">
    <% end %>
  </span>
</h1>
<div class="column column1">
  <div class="inner">
    <% if @assets.any? %>
      <ul class="assets">
      <% @assets.each do |asset| -%>
      <li class="asset" id="asset_<%= asset.id %>">
        <% if asset.image? -%>
          <%= image_tag display_image_path(:size => 'c80x80', :id => asset, :format => asset.extname), :width => 80, :height => 80 %>
        <% else -%>
          <span class="icon <%= asset.extname %>"></span>
        <% end -%>
        <div class="meta">
          <span class="title">Titel: <span class="value"><%= asset.title %></span></span>
          <span class="cerated_at">Uppladdad: <span class="value"><%= asset.created_at.strftime("%Y-%m-%d") %></span></span>
          <span class="file_name">Filnamn: <span class="value"><%= "#{asset.file_name}.#{asset.extname}" %></span></span>
        </div>
        </li>
      <% end -%>
      </ul>
    <% elsif @query %>
      <p class="blank-slate">Inga filer hittades med sökningen ”<%= @query %>”</p>
    <% end %>
  </div>
</div>