<% error_messages_for :registration_form %>
<fieldset>
  <legend style="display:none">Namn och mall</legend>
  <label for="registration_form_name">Ge formuläret ett beskrivande namn</label>
  <%= f.text_field :name %>
  <label for="registration_form_template">Välj vilket formulär du vill använda</label>
  <%= f.select :template, @registration_form.available_templates.collect { |template| [template.humanize, template]} %>
  <label for="registration_form_notification_person_id">Skicka e-post om ny registrering till:</label>
  <%= f.select :notification_person_id, @users.collect { |u| [u.name, u.id] }, :include_blank => true %>
  <label for="registration_form_send_email_response"><%= f.check_box :send_email_response, :onclick => "$('email_fields').toggle();" %> Skicka automatiskt bekräftelse vid anmälan</label>
</fieldset>
<fieldset id="email_fields"<%= ' style="display:none;"' unless @registration_form.send_email_response? %>>
  <legend>E-postsvar</legend>
  <label for="registration_form_email_subject">Ämne</label>
  <%= f.text_field :email_subject %>
  <label for="registration_form_email_body">
    Meddelande
    <span class="info"><a href="http://liquid.rubyforge.org/">Liquid templates</a> används för att rendera meddelandet</span>
  </label>
  <%= f.text_area :email_body %>
  <label for="registration_form_contact_person_id">Välj vem som ska stå som avsändare</label>
  <%= f.select :contact_person_id, @users.collect { |u| [u.name, u.id] } %>
  <label for="registration_form_replyable_email"><%= f.check_box :replyable_email %> Ska det gå att svara via e-post?</label>
  <label for="registration_form_reply_to_email">Svarsadress om annan än avsändaren</label>
  <%= f.text_field :reply_to_email %>
</fieldset>