<% @page_class = 'A content' -%>
<div id="content_header">
  <h2>Forumlär</h2>
</div>

<div id="container">
  <div id="content">
    <div id="ca">
      <h2 class="label">Ändra formuläret ”<%= @registration_form.name %>”</h2>
      <% if @registration_form.page %>
      <span class="controls"><%= link_to "Redigera tacksidan", admin_page_path(@registration_form.page), :class => 'edit' %></span>
      <% end %>
      <div class="inner">
      <% unless @registration_form.page %>
        <span class="notice big" id="no_page_notice"><%= link_to "Lägg till en tacksida för det här formuläret", new_admin_page_path, :onclick => "$('new_page_container').toggle();return false;" %></span>
        <div id="new_page_container" style="display:none;">
          <% form_for :page, :url => admin_pages_path, :html => { :id => 'new_response_page', :class => 'general' } do |f| %>
            <%= f.hidden_field :parent_id,   { :value => @registration_form.id } %>
            <%= f.hidden_field :parent_type, { :value => @registration_form.class.base_class.to_s } %>
            <fieldset>
              <label for="page_title">Sidans titel</label>
              <%= f.text_field :title, :class => "title" %>
              <label for="page_page_layout_id">Välj layout</label>
              <%= f.select :page_layout_id, PageLayout.find(:all).collect { |l| [l.name, l.id] } %>
            </fieldset>
            <div class="confirm">
              <input type="submit" value="Skapa tacksidan"> eller <a href="#" class="cancel">Avbryt</a>
            </div>
          <% end %>
        </div>
      <% end %>
      <% form_for :registration_form, :url => admin_registration_form_path(@registration_form), :html => { :method => :put } do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <div class="confirm">
          <input type="submit" value="Spara formuläret ”<%= @registration_form.name %>”"> eller <%= link_to "avbryt", admin_registration_forms_path %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>