<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
<div id="wrap">
  <div id="sub_nav">
    <%= render :partial => 'admin/shared/settings_sub_nav' %>
  </div>
  <div id="workspace">
    <div class="header">
      <h1>Formulär</h1>
    </div>
    <div class="tools">
      <%= link_to "Skapa ett nytt formulär", new_admin_registration_form_path, :class => 'create' %>
    </div>
    <div id="content">
      <% nested_list_of @registration_forms, {}, :class => 'gl' do |form| %>
        <%= link_to form.name, edit_admin_registration_form_path(form) %>
        <span class="controls general">
          <%= link_to "Redigera", edit_admin_registration_form_path(form), :class => 'edit' %>
          <%= link_to "Radera", admin_registration_form_path(form), { :method => :delete, :confirm => "Är du säker, detta går inte att ångra.", :class => 'delete' } %>
        </span>
      <% end %>
    </div>
  </div>
</div>