<h1>Redigera bilden ”<%= @content.resource.title %>”</h1>
<% form_for :content_image, @content.resource, :url => admin_page_content_path(@page, @content), :html => { :method => :put } do |f| %>
  <div class="column column1">
  <div class="inner">
    <%= f.hidden_field :image_asset_id, :value => @content.resource.asset.id %>
    <label for="content_image_title">Alt. text</label>
    <%= f.text_field :title, :value => @content.resource.title %>
    <label for="content_image_caption">Bildtext</label>
    <%= f.text_area :caption, :value => @content.resource.caption, :cols => 30, :rows => 5 %>    
    <label for="content_image_title">Copyright / Fotograf</label>
    <%= f.text_field :copyright, :value => @content.resource.copyright %>
    <% if @content.parent_id.blank? -%>
    <label for="content_image_format">Format</label>
    <%= f.select :style, ContentImage.styles.collect { |s, klass| [s[:name], s[:class]] } %>
    <% end -%>
    <label for="content_image_downloadable"><%= f.check_box :downloadable %> Länka till orginal</label>
  </div>
  </div>
  <div class="column column2">
  <div class="inner">
    <%= image_tag display_image_path(:size => 'w290', :id => @content.resource.asset, :format => @content.resource.asset.extname), :width => 290 %>
  </div>
  </div>
  <div class="submit">
  <input class="button" type="submit" value="Spara ändringar"> eller <%= link_to "Avbryt", previous_view_path(admin_page_path(@page)), :class => 'cancel' %>
  </div>
<% end %>