<%= image_tag display_image_path(:size => 'w290', :id => @content.resource.asset, :format => @content.resource.asset.extname), :width => 290 %>
<% form_for :content_image, @content.resource, :url => admin_page_content_path(@page, @content), :html => { :method => :put } do |f| %>
  <%= f.hidden_field :image_asset_id, :value => @content.resource.asset.id %>
  <label for="content_image_title">Alt. text</label>
  <%= f.text_field :title, :value => @content.resource.asset.title, :class => 'text' %>
  <label for="content_image_caption">Bildtext</label>
  <%= f.text_area :caption, :value => @content.resource.asset.description, :cols => 30, :rows => 10 %>    
  <label for="content_image_format">Format</label>
  <%= f.select :style, ContentImage.styles.collect { |s, klass| [s[:name], s[:class]] } %>
  <label for="content_image_downloadable"><%= f.check_box :downloadable %> Länka till orginal</label>
  <div class="submit">
    <input class="button" type="submit" value="Spara ändringar"> eller <%= link_to "Avbryt", previous_view_path(admin_page_path(@page)) %>
  </div>
<% end %>
