<h1>
  L채gg till bild <span class="info">eller <a href="#" class="back">g책 tillbaka</a></span>
</h1>
<% form_for :content, @content, :url => admin_page_contents_path(@page) do |f| %>
  <div class="column column1">
    <div class="inner">
      <%= f.hidden_field :column_position %>
      <%= f.hidden_field :resource_type %>
      <% fields_for :content_image do |resource| %>
        <%= resource.hidden_field :image_asset_id, :value => @content.resource.asset.id %>
        <label for="content_image_title">Alt. text</label>
        <%= resource.text_field :title, :value => @content.resource.asset.title %>
        <label for="content_image_caption">Bildtext</label>
        <%= resource.text_area :caption, :value => @content.resource.asset.description, :cols => 30, :rows => 5 %>    
        <label for="content_image_title">Copyright / Fotograf</label>
        <%= resource.text_field :copyright, :value => @content.resource.asset.author %>
        <% if not @content.parent_id.blank? or params[:collection].to_i != 1 %>
        <label for="content_image_format">Format</label>
        <%= resource.select :style, ContentImage.styles.collect { |s, klass| [s[:name], s[:class]] } %>
        <label for="content_image_downloadable"><%= resource.check_box :downloadable %> L채nka till orginal</label>
      <% end %>
    </div>
  </div>
  <div class="column column2">
    <div class="inner">
      <ul class="gl">
        <li class="nb">
          <%= image_tag display_image_path(:size => 'w270', :id => @content.resource.asset, :format => @content.resource.asset.extname), :width => 270 %>
        </li>
      </ul>
    </div>
  </div>
  <div class="submit">
    <input type="submit" value="L채gg till bild"> eller <a href="#" class="back">avbryt</a>
  </div>
<% end %>
