<% @page_id = 'sessions-new' -%>
 
<h1>Logga in med dina uppgifter</h1>
<% form_tag user_sessions_path do -%>
  <span class="container">
    <label for="login">Användarnamn</label>
    <%= text_field_tag 'login' %>
    <label for="password">Lösenord</label>
    <%= password_field_tag 'password' %>
    <label class="info" for="remember_me">
      <%= check_box_tag 'remember_me' %>
      kom ihåg mig på den här datorn
    </label>
  </span>
  <div class="submit"><%= submit_tag 'Logga in' %></div>
<% end -%>

<%= link_to "Glömt lösenordet? Skapa ett nytt här &rarr;", forgot_password_user_sessions_path %>