<%= f.hidden_field :context_id %>
<%= f.hidden_field :context_type %>
<%= f.hidden_field :resource_type %>
<%= f.hidden_field :column_position %>
<% unless @content.resource.shared? -%>
  <% fields_for :resource do |resource| %>
    <label for="resource_filter">
      Filter: 
      <%= resource.select :filter, Textfield.filters %>
    </label>
    <%= resource.text_area :body, :class => @content.resource.filter, :id => 'editor', :cols => 90 %>
  <% end %>
<% else -%>
  <%= f.select :resource_id, Textfield.shared.find(:all, :order => 'title ASC').collect { |t| [t.title, t.id] } %>
<% end -%>
<%= render :partial => 'admin/contents/restriction_settings', :locals => { :content => @content }%>