<div class="actual_content">
<% unless content.shared? -%>
  <% case resource.filter
      when 'wymeditor' -%>
      <%= resource.body %>
  <%  when 'html' -%>
    <%= resource.body %>
  <%  when 'textile' -%>
    <%= textilize resource.body %>
  <%  else -%>
    <%= resource.body %>
  <% end -%>
<% else -%>
  <%= resource.title %> <span class="shared">Delat innehåll</span>
<% end -%>
</div>