<% @page_title = "Skriv ny text" %>
<div id="workspace">
  <div class="header">
    <h1>Skriv ny text</h1>
  </div>
  <div id="content">
    <% form_for :content, @content, :url => admin_contents_path do |f| %>
      <%= render :partial => '/admin/contents/textfields/form', :locals => { :f => f } %>
      <div class="confirm">
        <%= submit_tag 'Spara', :class => 'commit button' %> eller
        <%= link_to "Avbryt", previous_view_path, :class => 'cancel' %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/jquery/jquery' %>
<%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor.min' %>
<%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
<%= javascript_include_tag 'porthos/editor' %>
<script type="text/javascript">
  Porthos.Editor.Initialize();
</script>