<% @page_title = "Ny text" %>
<style type="text/css">@import url(/stylesheets/porthos/new.css);</style>
<div id="workspace">
  <div id="c_wrap" class="layout_2">
    <div id="c_1">
      <div class="header">
        <h1>Ny text</h1>
      </div>
      <% form_for :content, @content, :url => admin_contents_path do |f| %>
        <%= render :partial => '/admin/contents/textfields/form', :locals => { :f => f } %>
        <div class="confirm">
          <%= submit_tag 'Spara', :class => 'commit button' %> eller
          <%= link_to "Avbryt", previous_view_path, :class => 'cancel' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/jquery' %>
<%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
<%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/tidy/jquery.wymeditor.tidy' %>
<%= javascript_include_tag 'porthos/editor' %>
<script type="text/javascript">
  Porthos.Editor.Initialize();
</script>