<table>
  <tr>
    <th scope="row">Typ</th>
    <td><%= registration.class.localized_model_name || registration.class.to_s %></td>
  </tr>
  <tr>
    <th scope="row">Skapad</th>
    <td><%= registration.created_at.strftime("%d %B %Y, %H:%M") %></td>
  </tr>
  <tr>
    <th scope="row">Företag</th>
    <td><%= registration.organization %></td>
  </tr>
  <tr>
    <th scope="row">Adress för leverans</th>
    <td><%= registration.shipping_address %></td>
  </tr>
  <tr>
    <th scope="row">Postadress för leverans</th>
    <td><%= registration.shipping_post_code %> <%= registration.shipping_locality %></td>
  </tr>
  <tr>
    <th scope="row">Organisation / org.nr.</th>
    <td><%= registration.organization %><%= ", #{registration.organization_number}" unless registration.organization_number.blank? %></td>
  </tr>
  <tr>
    <th scope="row">Kontaktperson</th>
    <td><%= registration.name %></td>
  </tr>
  <tr>
    <th scope="row">E-post</th>
    <td><%= mail_to registration.email, registration.email %></td>
  </tr>

  <tr>
    <th scope="row">Telefon</th>
    <td><%= registration.phone %></td>
  </tr>
  <tr>
    <th scope="row">Valda kort</th>
    <td>
      <ul>
        <% registration.sample_product_order_items.each do |item| %>
        <li><%= item.article_number %></li>
        <% end %>
      </ul>
    </td>
</table>