<% @page_class = "A content" -%>
<div id="content_header">
  <h1>Sidtyper</h1>
</div>
<div id="container">
  <div id="content">
    <div id="ca">
      <h2 class="label">Ändra sidtypen ”<%= @page_preset.name %>”</h2>
      <div class="inner">
        <% form_for :page_preset, :url => admin_page_preset_path(@page_preset), :html => { :method => :put, :multipart => true } do |f| %>
          <%= error_messages_for :page_preset %>
          <%= image_tag @page_preset.graphic.public_name, :class => 'fr graphic' if @page_preset.graphic %>
          <fieldset>
            <label for="page_preset_name">Namn</label>
            <%= f.text_field :name %>
            <label for="page_preset_description">Beskrivning</label>
            <%= f.text_field :description %>
            <label for="page_graphic_file">Bild <span class="info"><%= "Nuvarande bild: #{@page_preset.graphic.full_name}" if @page_preset.graphic %></span></label>
            <%= f.file_field :graphic_file %>
            <label for="page_preset_collection_id">Vilken sorts sida?</label>
            <%= f.select :page_collection_id, [['Textsida', nil]] + PageCollection.find(:all).collect { |p| [p.title, p.id] }, {:include_blank => false} %>
            <label for="page_preset_layout_id">Välj layout</label>
            <%= f.select :page_layout_id, PageLayout.find(:all).collect { |l| [l.name, l.id] } %>
          </fieldset>
          <div class="confirm">
            <%= submit_tag 'Spara' %> eller <%= link_to "avbryt", previous_view_path(admin_page_presets_path) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>