<% @page_class = "A new-page-collection-content" -%>
<h1>Ny sidsamling</h1>
<div id="content">
<div id="c-a">
<%= error_messages_for :page %>
<%= error_messages_for :node %>
<% form_for :page_collection, :html => {:class => "tiny"}, :url => admin_page_collections_path do |f| %>
  <fieldset>
    <label for="page_title">Skriv sidans namn i navigationen</label>
    <%= f.text_field :title, :class => "title" %>
    <label for="page_layout">Välj layout</label>
    <%= f.select :page_layout_id, PageLayout.find(:all).collect { |layout| [layout.name, layout.id] } %>
    <label for="page_layout">Välj förvald layout för undersidor</label>
    <%= f.select :default_child_layout_id, PageLayout.find(:all).collect { |layout| [layout.name, layout.id] } %>
  </fieldset>
  <div class="submit">
    <%= f.submit "Lägg till sida", :class => 'button' %> eller <%= link_to "Avbryt", previous_view_path(admin_nodes_path) %>
  </div>
<% end %>
</div>
</div>