<% @page_class = "AB content" -%>
<div id="content_header">
  <h1><%= @page.title %></h1>
  <span class="controls">
    <%= link_to "Nyckelordssamlingar", admin_page_collection_tag_collections_path(@page) %>
    <%= link_to "Redigera huvudsida", admin_page_path(@page) %>
  </span>
</div>
<div id="container">
  <span class="controls">
    <%= link_to "Skapa en ny sida", new_admin_page_path(:page => { :parent_id => @page.id, :parent_type => @page.class.base_class }), :class => 'create' %>
  </span>
  <div id="content">
    <div id="ca">
      <div class="inner">
        <% @pages.each do |page| %>
        <div class="page <%= cycle('odd', 'even') %> <%= page.active? ? 'active' : 'inactive' %>">
          <h2>
            <%= page.title %>
            <span class="date"><%= page.published_on.strftime("%d %b %Y") %></span>
            <% if page.restricted? %>
              <span class="info restricted">Kräver inloggning</span>
            <% end %>
          </h2>
          <% unless page.description.blank? -%>
          <%= page.description %>
          <% else -%>
          <p class="notice">Inledning saknas, <%= link_to "skriv en!", edit_admin_page_path(page), :class => 'edit' %></p>
          <% end -%>
          <span class="controls">
            <%= link_to "Redigera", admin_page_path(page), :class => 'edit' %>
            <%= link_to page.active? ? 'Dölj' : 'Visa', toggle_admin_page_path(:id => page, :return_to => request.request_uri), :method => :put, :class => 'visibility' %>
            <%= link_to "Ta bort", admin_page_path(page), :method => :delete, :confirm => "Är du säker? Detta går inte att ångra.", :class => 'delete' %>
          </span>
        </div>
        <% end %>
        <%= will_paginate @pages, :prev_label => "« Föregående", :next_label => "Nästa »" %>
      </div>
    </div>
    <div id="cb">
      <h2 class="label">Arkiv</h2>
      <ul class="dates gl">
      <% (@page.child? ? @page.parent : @page).dates_with_children(params).each do |year| %>
        <li>
          <a href="<%= admin_page_collection_path(:id => @page, :year => year[0]) %>"<%= ' class="current"' if params[:year] and params[:year] == year[0] %>><%= year[0] %></a>
          <% if params.has_value?(year[0]) and year[1].any? -%>
          <ul>
          <% year[1].each do |month| -%>
            <% month_num = month.strftime("%m") -%>
            <li<%= ' class="current"' if params[:month] and params[:month] == month_num %>>
              <%= link_to month.strftime("%B"), admin_page_collection_path(:id => @page, :year => year[0], :month => month_num) %>
            </li>
          <% end -%>
          </ul>
          <% end %>
        </li>
      <% end %> 
      </ul>
      <% if @inactive_pages.any? %>
      <h2 class="label">Ej aktiverade sidor</h2>
      <p class="notice">Sidor som har skapats men inte markerats som klara. Dessa syns inte på siten.</p>
      <ul class="gl">
      <% @inactive_pages.each do |page| -%>
        <li><%= link_to page.title, admin_page_path(page) %></li>
      <% end -%>
      </ul>
      <% end %>
      
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/jquery/jquery' %>
<%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
<%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/tidy/jquery.wymeditor.tidy' %>
<%= javascript_include_tag 'porthos/editor' %>
<%= javascript_include_tag 'porthos/action_dialog', 'porthos/page_collections', :cache => 'page_collections' %>
