<% @page_title = "Ändra formulär" %>
<div id="workspace">
  <div class="header">
    <h1>Ändra formulär</h1>
  </div>
  <div id="content">
    <% form_for :content, :url => admin_content_path(@content), :html => { :method => :put } do |f| %>
      <%= f.hidden_field :column_position %>
      <%= f.hidden_field :resource_type %>
      <label for="content_resource_id">Ändra vilket formulär som visas</label>
      <%= f.select :resource_id, RegistrationForm.find(:all, :order => 'name ASC').collect { |t| [t.name, t.id] } %>
      <div class="submit">
        <%= submit_tag 'Spara' %> eller <%= link_to "avbryt", previous_view_path, :class => 'cancel' %>
      </div>
    <% end %>
  </div>
</div>