<% form_for :content, :url => admin_contents_path do |f| %>
  <h1>Lägg till formulär</h1>
  <div class="column1">
    <div class="inner form">
      <%= f.hidden_field :context_id %>
      <%= f.hidden_field :context_type %>
      <%= f.hidden_field :column_position %>
      <%= f.hidden_field :resource_type %>
      <label for="content_resource_id">Välj formulär:</label>
      <%= f.select :resource_id, RegistrationForm.find(:all, :order => 'name ASC').collect { |t| [t.name, t.id] } %>
    </div>
  </div>
  <div class="submit absolute">
    <%= submit_tag 'Lägg till' %> eller <%= link_to "avbryt", previous_view_path, :class => 'cancel' %>
  </div>
<% end %>
