<% @page_title = "L채gg till modul" %>
<style type="text/css">@import url(/stylesheets/porthos/new.css);</style>
<div id="workspace">
  <div id="c_wrap" class="layout_2">
    <div id="c_1">
      <div class="header">
        <h1>L채gg till modul</h1>
      </div>
      <% form_for :content, :url => admin_contents_path do |f| %>
        <%= f.hidden_field :context_id %>
        <%= f.hidden_field :context_type %>
        <%= f.hidden_field :column_position %>
        <%= f.hidden_field :resource_type %>
        <fieldset>
            <label for="content_resource_id">V채lj modul:</label>
            <%= f.select :resource_id, ContentModule.find(:all, :order => 'name ASC').collect { |t| [t.name, t.id] } %>
        </fieldset>
        <div class="confirm">
          <%= submit_tag 'L채gg till' %> eller <%= link_to "avbryt", previous_view_path(), :class => 'cancel' %>
        </div>
      <% end %>
    </div>
  </div>
</div>