<%= error_messages_for :measure_point %>

<label for="measure_point_name">Beskriv mätpunkten</label>
<%= f.text_field :name, :class => "title" %>
<p class="form_help">Vart är bannern/länken placerad? På en sajt eller ett nätverk/utskick?</p>

<% if @campaign %>
  <%= f.hidden_field :campaign_id, :value => @campaign.id %>
<% else %>
  <label for="measure_point_campaign_id">Vilken kampanj tillhör mätpunkten?</label>
  <%= f.select :campaign_id, Campaign.find(:all).collect {|c| [c.name, c.id] } %>
<% end %>
<label for="measure_point_link_type">Vad är det för typ av annons?</label>
<%= f.select :link_type, MeasurePoint::LINK_TYPES.collect {|key, value| [l(:measure_point, :link_types, key), value]} %>

<label for="measure_point_target">Vilken är målgruppen?</label>
<%= f.select :target, MeasurePoint::TARGETS.collect {|key, value| [l(:measure_point, :targets, key), value]} %>

<label for="measure_point_cost">Vad har annonseringen kostat?</label>
<%= f.text_field :cost, :size => 8, :value => @measure_point.cost %> kr
<p class="form_help">Räkna ihop kostnader för exponering och produktion.</p>