<% @page_title = "Skapa en ny mätpunkt" -%>
<div id="workspace">
  <div class="header">
    <h1>
      Skapa en ny mätpunkt
      <% if @campaign -%>
      under kampanjen <%= @campaign.name %>
      <% end -%>
    </h1>
  </div>
  <div id="content">
    <% form_for :measure_point, :url => admin_measure_points_path, :html => {:method => 'post'} do |f| %>
      <%= render :partial => 'form', :locals => {:f => f}  %>
      <div class="submit">
        <%= f.submit "Skapa mätpunkten" %> eller <%= link_to "Avbryt", previous_view_path(admin_campaigns_path) %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>