<% @page_class = "AB measure-point" -%>
<h1>Mätpunkt ”<%= @measure_point.name %>” - <%= @measure_point.link_type_name %>
  <span class="controls"><%= link_to "Ändra", edit_admin_measure_point_path(@measure_point) %></span>
</h1>
<div id="content">
  <div id="c-b">
  </div>
  <div di="c-a">
    <span class="controls"><%= link_to "Tillbaka till #{@measure_point.campaign.name}", admin_campaign_path(@measure_point.campaign) %></span>
    <table>
      <tr>
        <th>ID</th>
        <td><%= @measure_point.public_id.upcase %></td>
      </tr>
      <tr>
        <th>Målgrupp</th>
        <td><%= @measure_point.target_name %></td>
      <tr>
        <th>Kostnad</th>
        <td><%= number_to_currency(@measure_point.cost.to_f) %></td>
      </tr>
      <tr>
        <th>Senaste klick</th>
        <td><%= @measure_point.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    </table>
      <p><span class="description">Adress till mätpunkten:</span><br><a href="/ad/<%= @measure_point.public_id %>">/ad/<%= @measure_point.public_id %></a></p>
    <p class="info">Du kan länka till specifika sidor på sajten genom att lägga till <code>?target=/din-adress</code>, te.x. <a href="/ad/<%= @measure_point.public_id %>?target=/butik/privat">/ad/<%= @measure_point.public_id %>?target=/butik/privat</a>.</p>
    <h2>Avslut</h2>
    <table>
      <tr>
        <th>Typ</th>
        <th>Antal</th>
        <th>Intäkter</th>
      <tr>
      <% @measure_point.conversions.count(:group => 'registration_type').each do |result| %>
        <tr>
          <td><%= link_to result.first.constantize.localized_model_name, admin_conversions_path({:measure_point_id => @measure_point.id, :type => result.first}) %></td>
          <td><%= result.last %> st</td>
          <td><%= number_to_currency(@measure_point.income(result.first).to_f) %></td>
        </tr>
      <% end %>
      <tr class="total">
        <th scope="row">Total</th>
        <td><%= @measure_point.total_conversions %> st</td>
        <td>
          <%= number_to_currency(@measure_point.income.to_f) %>
          <% if @measure_point.cost.cents > 0 -%>
          (ROI: <%= number_to_percentage(@measure_point.roi, :precision => 2) %>)
          <% end -%>
        </td>
      </tr>
    </table>
  </div>
</div>
