<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @page_title if @page_title %></title>
  <%= stylesheet_link_tag 'porthos/elements', 'porthos/layout','porthos/wymeditor', :cache => 'porthos' %>
  <%= installation_specific_stylesheet_link_tag %>
</head>
<body<%= body_attributes %>>
<%= flash_messages %>
<div id="nav">
  <div id="account_nav">
    <ul>
      <li><%= link_to "Mitt konto", edit_admin_user_path(current_user) %></li>
      <li><%= link_to "Logga ut", logout_path %></li>
    </ul>
  </div>
  <div id="main_nav">
    <ul>
      <li class="pages_index"><%= link_to "Sidor", admin_pages_path %></li>
      <li class="nodes_index"><%= link_to "Navigation", admin_nodes_path %></li>
      <li class="assets_index"><%= link_to "Filarkiv", admin_assets_path %></li>
      <li id="n-activity"><%= link_to "Aktivitet", admin_registrations_path %></li>
      <li class="users_index"><%= link_to "Användare", admin_users_path %></li>
    </ul>
  </div>
</div>
<%= yield %>
</body>
</html>