<div class="<%= node.access_status %>">
  <% if node.children.any? %>
    <% if trail.include?(node) -%>
      <%= link_to "-", admin_nodes_path(:nodes => [node.parent_id]), :class => 'jax toggle_handle active' %>
    <% else -%>
      <%= link_to "+", admin_nodes_path(:nodes => [node.id]), :class => 'jax toggle_handle' %>
    <% end -%>
  <% end %>
  <span class="name"><%= node.name %></span>
  <% if node.restricted? -%>
  <span class="info restricted">lösenordsskyddad</span>
  <% end -%>
  <span class="edit">
    <% if node.resource_class_name == 'PageCollection' -%>
    <%= link_to "Visa alla sidor", admin_pages_path(:filters => { :with_parent => "#{node.resource_id},#{node.resource_type}" }), :class => 'edit' %>
    <%= link_to "Ändra innehåll", admin_page_path(node.resource_id), :class => 'edit' %>
    <% else -%>
    <%= link_to "Ändra innehåll", node_path(node), :class => 'edit' %>
    <% end -%>
    <%= link_to "Inställningar", edit_admin_node_path(node), :class => 'settings' %>
    <%= link_to "Flytta", place_admin_node_path(node) %>
    <%= link_to "Ta bort", admin_node_path(node), { :method => :delete, :class => "delete", :confirm => "Är du säker, detta går inte att ångra." } %>
  </span>
</div>