<% form_for :registration, :url => registrations_path(:anchor => 'new_registration'), :html => { :id => 'new_registration', :class => 'donation', :multipart => true } do |f| %>
  <%= error_messages_for :registration %>
  <div style="display:none;">
    <%= hidden_field_tag 'registration_type', 'CompanyDonation' %>
    <%= f.hidden_field :node_id, :value => @node.id %>
    <%= f.hidden_field :registration_form_id, :value => content.resource.id %>
    <%= f.hidden_field :payment_type, :value => "invoice" %>
  </div> 
  <h2 class="step1">Vårt företag stödjer UNICEFs arbete med ...</h2>
  <fieldset id="registration_amount_wrap" class="no-legend">
    <legend>Vårt företag stödjer UNICEFs arbete med ...</legend>
    <ul id="amounts">
      <% resource.amounts.each do |amount| -%>
      <li class="predef_amount<%= ' last' if amount == resource.amounts.last %>">
        <% checked = ((!@registration || @registration.total_sum_user_defined.blank?) && (amount == resource.amounts.first)) ? 'checked' : '' %>
        <label for="registration_total_sum_<%= amount %>"><%= f.radio_button :total_sum, amount, :id => "registration_total_sum_#{amount}", :checked => checked %> <%= amount %> kr</label>
      </li>
      <% end -%>
    </ul>
    <div class="other_amount">
      <% checked = (@registration and not @registration.total_sum_user_defined.blank?) ? 'checked' : '' -%>
      <label for="registration_total_sum_other"><%= f.radio_button :total_sum, "other", :checked => checked %> <strong>ELLER</strong> valfritt belopp</label>
      <%= f.text_field :total_sum_user_defined, :size => 6 %> kr
    </div>
  </fieldset>
  <h2 class="step2">Välj vilket projekt ni vill stödja</h2>
  <fieldset class="no-legend">
    <legend>Välj vilket projekt ni vill stödja</legend>
    <ul id="donation_targets">
      <li><label for="registration_target_code_eban" class="contains-input"><%= f.radio_button :target_code, 'EBAN' %> Bangladesh: Katastrofhjälp till barn som drabbats av cyklonen. <a href="/nyheter/2007/11/19/unicefs-chef-i-bangladesh-ber-om-omvarldens-stod">Läs mer »</a></label></li>
      <li><label for="registration_target_code_pamm" class="contains-input"><%= f.radio_button :target_code, 'PAMM' %> Burma: Utbildning och hälsovård till barn som har det svårt. <a href="/foretag/projekt/burma">Läs mer »</a></label></li>
      <li><label for="registration_target_code_pwnp" class="contains-input"><%= f.radio_button :target_code, 'PWNP' %> Nepal: Rent vatten och sanitet i skolor. <a href="/foretag/projekt/nepal">Läs mer »</a></label></li>
      <li><label for="registration_target_code_ppet" class="contains-input"><%= f.radio_button :target_code, 'PPET' %> Etiopien: Hjälpa barn som förlorat sin mamma och pappa i aids. <a href="/foretag/projekt/etiopien">Läs mer »</a></label></li>
      <li><label for="registration_target_code_regu" class="contains-input"><%= f.radio_button :target_code, 'REGU', :checked => true %> Vi väljer inte ett särskilt projekt utan låter UNICEF avgöra var pengarna ska användas</label></li>
    </ul>
  </fieldset>
  <h2 class="step3">Välj motiv och text på kortet</h2>
  <fieldset class="no-legend">
    <legend>Välj motiv och text på kortet</legend>
    <p>Som tack för er gåva erbjuder vi e-kort med julhälsning som ni kan skicka till kunder och andra kontakter. Ni får också en banner som gåvobevis.</p>
    <p>Om ni inte önskar något e-kort kan hoppa över det här steget helt och hållet, <a href="#step4">gå direkt till steg 4 och skriv in era kontaktuppgifter</a>.</p>
    <ul class="choose_ecard_image">
      <li class="odd"><label for="image_1"><%= f.radio_button :ecard_image_id, 559, :id => 'image_1' %> <img src="/graphics/donation/company/image_1.jpg" alt="Två leende barn i färgglada kläder" height="110" width="170"></label></li>
      <li class="even"><label for="image_2"><%= f.radio_button :ecard_image_id, 560, :id => 'image_2' %> <img src="/graphics/donation/company/image_2.jpg" alt="Fyra glada barn framför UNICEF logga" height="110" width="170"></label></li>
      <li class="odd"><label for="image_3"><%= f.radio_button :ecard_image_id, 561, :id => 'image_3' %> <img src="/graphics/donation/company/image_3.jpg" alt="Glad flicka" height="110" width="170"></label></li>
      <li class="even"><label for="image_4"><%= f.radio_button :ecard_image_id, 562, :id => 'image_4' %> <img src="/graphics/donation/company/image_4.jpg" alt="Mamma med glatt barn" height="110" width="170"></label></li>
      <li class="odd"><label for="image_5"><%= f.radio_button :ecard_image_id, 563, :id => 'image_5' %> <img src="/graphics/donation/company/image_5.jpg" alt="Glad pojke med leksakskamera" height="110" width="170"></label></li>
      <li class="even"><label for="image_6"><%= f.radio_button :ecard_image_id, 586, :id => 'image_6' %> <img src="/graphics/donation/company/image_6.jpg" alt="Glad flicka i skolan" height="110" width="170"></label></li>
    </ul>
    <label for="registration_message">Skriv in er egna hälsning på e-kortet</label>
    <%= f.text_area :message, :rows => 4, :class => "info-after" %>
    <p class="info">UNICEFs tack-text står överst på kortet. Er hälsning hamnar för sig. Se på exemplet uppe till höger.</p>
    <label for="company_logo">Ladda upp er logotyp</label>
    <%= f.file_field :company_logo_file, :id => 'company_logo', :size => 18, :class => "info-after" %>
    <p class="info">Er logotyp hamnar vid er hälsning. Se exemplet uppe till höger.</p>
  </fieldset>
  <h2 class="step4" id="step4">Företags- och kontaktuppgifter</h2>
  <fieldset id="company_details">
    <legend>Företagsuppgifter</legend>
    <label for="registration_organization">Företag/organisation</label>
    <%= f.text_field :organization, :size => 40 %>
    <label for="registration_organization_number">Organisationsnummer</label>
    <%= f.text_field :organization_number, :size => 40 %>
    <label for="registration_address">Fakturaadress</label>
    <%= f.text_field :address, :size => 40 %><br>
    <label for="registration_post_code">Postnummer</label>
    <%= f.text_field :post_code, :size => 8 %><br>
    <label for="registration_locality">Ort</label>
    <%= f.text_field :locality, :size => 40 %>
  </fieldset>
  <fieldset id="personal">
    <legend>Kontaktperson</legend>
    <label for="registration_first_name">Förnamn</label>
    <%= f.text_field :first_name, :size => 40 %>
    <label for="registration_last_name">Efternamn</label>
    <%= f.text_field :last_name, :size => 40 %>
    <label for="registration_phone">Telefon</label>
    <%= f.text_field :phone, :size => 40 %>
    <label for="registration_email">E-postadress</label>
    <%= f.text_field :email, :size => 40 %>
    <label for="registration_contact_approval" class="contains-input"><%= f.check_box :contact_approval, { :value => 1, :checked => 'checked' } %> Jag vill få information från UNICEF via e–post. <span class="info">Används endast till UNICEFs egna utskick. Vi lämnar inte ut den till någon annan.</span></label>
  </fieldset>
  <div class="submit">
    <input type="image" name="submit" src="/graphics/forms/submit/ge_gava_med_faktura.gif" value="Ge gåva med faktura »">
  </div>
<% end %>