<% form_for :registration, :url => registrations_path(:anchor => 'new_registration'), :html => { :id => 'new_registration', :class => 'donation' } do |f| %>
  <%= error_messages_for :registration %>
  <div style="display:none;">
    <%= hidden_field_tag 'registration_type', 'CompanyDonation' %>
    <%= f.hidden_field :target_code, :value => resource.target_code %>
    <%= f.hidden_field :node_id, :value => @node.id %>
    <%= f.hidden_field :registration_form_id, :value => content.resource.id %>
    <%= f.hidden_field :payment_type, :value => "invoice" %>
  </div>
  <h2 class="step1">Vårt företag stödjer UNICEFs arbete med ...</h2>
  <fieldset id="registration_amount_wrap" class="no-legend">
    <legend>Vårt företag stödjer UNICEFs arbete med ...</legend>
    <ul id="amounts">
      <% resource.amounts.each do |amount| -%>
      <li class="predef_amount<%= ' last' if amount == resource.amounts.last %>">
        <% checked = ((!@registration || @registration.total_sum_user_defined.blank?) && (amount == resource.amounts.first)) ? 'checked' : '' %>
        <label for="registration_total_sum_<%= amount %>"><%= f.radio_button :total_sum, amount, :id => "registration_total_sum_#{amount}", :checked => checked %> <%= amount %> kr</label>
      </li>
      <% end -%>
    </ul>
    <div class="other_amount">
      <% checked = (@registration and not @registration.total_sum_user_defined.blank?) ? 'checked' : '' -%>
      <label for="registration_total_sum_other"><%= f.radio_button :total_sum, "other", :checked => checked %> <strong>ELLER</strong> valfritt belopp</label>
      <%= f.text_field :total_sum_user_defined, :size => 6 %> kr
    </div>
  </fieldset>
  <h2 class="step2">Företags- och kontaktuppgifter</h2>
  <fieldset id="company_details">
    <legend>Företagsuppgifter</legend>
    <label for="registration_organization">Företag/organisation</label>
    <%= f.text_field :organization, :size => 40 %>
    <label for="registration_organization_number">Organisationsnummer</label>
    <%= f.text_field :organization_number, :size => 40 %>
    <label for="registration_address">Gatuadress</label>
    <%= f.text_field :address, :size => 40 %><br>
    <label for="registration_post_code">Postnummer</label>
    <%= f.text_field :post_code, :size => 8 %><br>
    <label for="registration_locality">Ort</label>
    <%= f.text_field :locality, :size => 40 %>
  </fieldset>
  <fieldset id="personal">
    <legend>Kontaktperson</legend>
    <label for="registration_first_name">Förnamn</label>
    <%= f.text_field :first_name, :size => 40 %>
    <label for="registration_last_name">Efternamn</label>
    <%= f.text_field :last_name, :size => 40 %>
    <label for="registration_phone">Telefon</label>
    <%= f.text_field :phone, :size => 40 %>
    <label for="registration_email">E-postadress</label>
    <%= f.text_field :email, :size => 40 %>
    <label for="registration_contact_approval" class="contains-input"><%= f.check_box :contact_approval, { :value => 1, :checked => 'checked' } %> Jag vill få information från UNICEF via e–post. <span class="info">Används endast till UNICEFs egna utskick. Vi lämnar inte ut den till någon annan.</span></label>
  </fieldset>
  <div class="submit">
    <input type="image" name="submit" src="/graphics/forms/submit/ge_gava_med_faktura.gif" value="Ge gava med faktura »">
  </div>
<% end %>