<% form_for :registration, :url => registrations_path(:anchor => 'new_registration'), :html => { :id => 'new_registration', :class => 'global_parent' } do |f| %>
  <%= error_messages_for :registration %>
  <div style="display:none;">
    <%= hidden_field_tag 'registration_type', 'GlobalParentGiveAway' %>
    <%= f.hidden_field :node_id, :value => @node.id %>
    <%= f.hidden_field :registration_form_id, :value => content.resource.id %>
  </div>
  <h2 class="step1">Jag vill ge bort ett Världsförälderskap till ...</h2>
  <fieldset id="personal">
    <legend>Mottagarens kontaktuppgifter</legend>
    <label for="registration_recipient_first_name">Förnamn</label>
    <%= f.text_field :recipient_first_name, :size => 40 %>
    <label for="registration_recipient_last_name">Efternamn</label>
    <%= f.text_field :recipient_last_name, :size => 40 %>
    <label for="registration_recipient_address">Gatuadress</label>
    <%= f.text_field :recipient_address, :size => 40 %>
    <label for="registration_recipient_post_code">Postnummer</label>
    <%= f.text_field :recipient_post_code, :size => 40 %>
    <label for="registration_recipient_locality">Ort</label>
    <%= f.text_field :recipient_locality, :size => 40 %>
  </fieldset>
  <fieldset id="gp_give_away_period">
    <legend>Jag betalar mottagarens Världsförälderskap under ...</legend>
    <ul>
      <li><label for="registration_recipient_period_six_months"><%= f.radio_button :recipient_period, 'six_months', :checked => "checked" %> 6 månader</label></li>
      <li><label for="registration_recipient_period_twelve_months"><%= f.radio_button :recipient_period, 'twelve_months' %> 12 månader</label></li>
      <li><label for="registration_recipient_period_continuously"><%= f.radio_button :recipient_period, 'continuously' %> tillsvidare</label></li>
    </ul>
    <p>Vi adderar 100 kr per månad på ditt eget autogiro under perioden för julklappen.</p>
  </fieldset>
  <h2 class="step2">Mina kontaktuppgifter</h2>
  <fieldset id="personal" class="no-legend">
    <legend>Mina kontaktuppgifter</legend>
    <label for="registration_first_name">Förnamn</label>
    <%= f.text_field :first_name, :size => 40 %>
    <label for="registration_last_name">Efternamn</label>
    <%= f.text_field :last_name, :size => 40 %>
    <label for="registration_address">Gatuadress</label>
    <%= f.text_field :address, :size => 40 %><br>
    <label for="registration_post_code">Postnummer</label>
    <%= f.text_field :post_code, :size => 8 %><br>
    <label for="registration_locality">Ort</label>
    <%= f.text_field :locality, :size => 40 %>
    <label for="registration_email">E-postadress</label>
    <%= f.text_field :email, :size => 40 %>
  </fieldset>
  <div class="submit">
    <input type="image" name="submit" src="/graphics/forms/submit/ge_bort_varldsforalderskap.gif" value="Ge bort Världsförälderskap »">
  </div>
<% end %>