<% form_for :registration, :url => registrations_path(:anchor => 'new_registration'), :html => { :id => 'new_registration', :class => 'page_tip' } do |f| %>
  <%= error_messages_for :registration %>
  <div style="display:none;">
    <%= hidden_field_tag 'registration_type', 'PageTip' %>
    <%= f.hidden_field :node_id, :value => @node.id %>
    <%= f.hidden_field :registration_form_id, :value => content.resource.id %>
    <%= f.hidden_field :uri, :value => (params[:link] || request.request_uri) %>
  </div>
  <fieldset>
    <legend>Tipsa vänner om UNICEF</legend>
      <label for="registration_name">Ditt namn</label>
      <%= f.text_field :name, :size => 40 %>
      <label for="registration_email">Din e-post</label>
      <%= f.text_field :email, :size => 40 %>
      <label for="registration_contact_approval" class="contains-input"><%= f.check_box :contact_approval, :checked => true %> Jag vill få information från UNICEF via e–post. <span class="info">Används endast till UNICEFs egna utskick. Vi lämnar inte ut den till någon annan.</span></label>
      <label for="registration_recipients">Vännernas e-postadresser</label>
      <%= f.text_area :recipients, :rows => 5, :cols => 15 %>
      <p class="info">Separera flera adresser med mellanrum.</p>
      <label for="registration_message">Din hälsning</label>
      <%= f.text_area :message, :rows => 5, :cols => 15 %>
  </fieldset>
  <div class="submit">
    <input type="image" name="submit" src="/graphics/forms/submit/skicka_tips.gif" value="Skicka tips »">
  </div>
<% end %>