<% @page_class = 'layout3' %>
<% @page_title = "Kampanjer" -%>
<div id="sub_nav">
  <% form_tag search_admin_campaigns_path, :method => 'get' do %>
  <div class="search">
    <%= text_field_tag :query, (@query || 'Sök'), :class => "search_query", :id=> "search_query" %>
    <%= submit_tag "Sök", :style => "display:none" %>
  </div>
  <% end %>
  <%= link_to 'Exportera alla mätpunkter', formatted_admin_measure_points_path(:format => 'csv') %>
</div>
<div id="workspace">
  <div class="header">
    <h1>Kampanjer</h1>
  </div>
  <div class="tools">
    <div class="add">
      <%= link_to 'Skapa ny kampanj', new_admin_campaign_path, :class => "new" %>
    </div>
  </div>
  <div id="content">
    <% if @campaigns.any? %>
      <%= render :partial => 'table', :locals => {:campaigns => Campaign.active} %>

      <% if Campaign.archived.count != 0  %>
        <h2>Arkiverade kampanjer</h2>
        <%= render :partial => 'table', :locals => {:campaigns => Campaign.archived}  %>
      <% end %>
    <% end -%>
  </div>
</div>