<% @page_title = "Kampanjer" -%>
<div id="workspace">
  <div id="c_wrap" class="layout_2">
    <div id="c_1">
      <div class="header">
        <h1>Kampanjer</h1>
      </div>
      <% if @campaigns.any? %>
        <%= render :partial => 'table', :locals => {:campaigns => Campaign.active} %>

        <% if Campaign.archived.count != 0  %>
          <h2>Arkiverade kampanjer</h2>
          <%= render :partial => 'table', :locals => {:campaigns => Campaign.archived}  %>
        <% end %>
      <% end -%>
    </div>
    <div id="c_2">
      <div class="inner">
        <% form_tag search_admin_campaigns_path, :method => 'get' do %>
        <div class="search">
          <%= text_field_tag :query, (@query || 'Sök'), :class => "search_query", :id=> "search_query" %>
          <%= submit_tag "Sök", :style => "display:none" %>
        </div>
        <% end %>
        <div class="main_action">
          <%= link_to 'Skapa ny kampanj', new_admin_campaign_path, :class => "new_campaign" %>
        </div>
        <%= link_to 'Exportera alla mätpunkter', formatted_admin_measure_points_path(:format => 'csv') %>
      </div>
    </div>
  </div>
</div>