<% @page_class = 'layout3' %>
<% @page_title = "Kampanjer" -%>
<div id="sub_nav">
  <%= render :partial => 'sub_nav' %>
</div>
<div id="workspace">
  <div class="header">
    <h1>Kampanjer</h1>
  </div>
  <div class="tools">
    <div class="add">
      <%= link_to 'Skapa ny kampanj', new_admin_campaign_path, :class => "new" %>
    </div>
  </div>
  <div id="content">
    <% if @campaigns.any? %>
      <%= render :partial => 'table', :locals => { :campaigns => @campaigns } %>
    <% end -%>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>