<% @page_title = "Kampanjer" -%>
<% @page_class = 'layout3' %>

<div id="sub_nav">
  <%= render :partial => 'sub_nav' %>
</div>
<div id="workspace">
  <div class="header">
    <h1>Sökresultat för "<%= @query %>" (<%= @search.total_entries %> träffar)</h1>
  </div>
  <div id="content">
    <% if @search.total_entries != 0 -%>
      <%= render :partial => 'table', :locals => {:campaigns =>  @search.results } %>
    <% else %>
      <p class="blank-slate info">Inga träffar hittades på sökningen ”<%= @query %>”</p>
    <% end %>
    <%= will_paginate @search %>    
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>