<% @page_class = "layout3" %>
<% @page_title = "Kampanj: #{@campaign.name}" -%>
<div id="sub_nav">
  <% form_tag search_admin_campaigns_path, :method => 'get' do %>
  <div id="search" class="fullwidth">
    <%= text_field_tag :query, (@query || 'Sök'), :class => "query", :id=> "search_query" %>
    <%= submit_tag "Sök", :style => "display:none" %>
  </div>
  <% end %>
  <h2>Att använda mätpunkter</h2>
  <p>Du använder mätpunkten genom att länka till den som följer:</p>
  <pre>http://www.dindoman.com/ad/D9D119?target=/butik/privat</pre>
  <p>Byt ut <code>D9D119</code> mot den mätpunkt du vill använda.</p>
  <p>Efter <code>?target=</code> anger du landningssidan. I det här fallet <code>/butik/privat</code>
</div>
<div id="workspace">
  <div class="header">
    <h1><%= @campaign.name %></h1>
    <%= link_to "Ändra", edit_admin_campaign_path(@campaign), :class => "edit_settings" %>
  </div>
  <div class="tools">
    <div class="add">
      <%= link_to "Skapa ny mätpunkt", new_admin_measure_point_path(:campaign_id => @campaign), :class => "new" %>
    </div>
  </div>
  <div id="content">
    <% unless @campaign.active? %>
      <p>Kampanjen är arkiverad, men tar forfarande upp klick och avslut</p>
    <% end %>
    <% if @campaign.measure_points.count != 0 -%>
      <div class="overview">
        <div class="clicks">
          <span class="type">Klick</span>
          <span class="value"><%= @campaign.clicks %></span>
          <span class="description">har kommit via mätpunkterna.</span>
        </div>
        <div class="conversions">
          <span class="type">Avslut</span>
          <span class="value"><%= @campaign.total_conversions %></span>
          <span class="description"><%= number_to_percentage(((@campaign.total_conversions != 0 and @campaign.clicks.to_f > 0) ? (@campaign.total_conversions.to_f / @campaign.clicks.to_f)*100.0 : 0), :precision => 0) %> av klick har lett till avslut.</span>
        </div>
        <div class="income">
          <span class="type">Intäkter</span>
          <span class="value"><%= number_to_currency(@campaign.income.to_f) %></span>
          <span class="description">Det ger <%= number_to_percentage(@campaign.roi, :precision => 0) %> i avkastning.</span>
        </div>
      </div>
      
      <% if @campaign.conversions.any? %>
      <h2>Omvandlingar totalt</h2>
      <div class="conversions">
        <ul>
        <% @campaign.conversions.count(:group => 'registration_type').each do |result| %> 
          <li>
            <% if result.first.constantize.new.payable? %>
              <% amount = @campaign.income(result.first) %>
              <span class="value"><%= number_to_currency(amount) %> <%= result.first.constantize.human_name %></span>
              <span class="average">
              <%= result.last %> omvandlingar.
              <% if not amount.zero? -%>
               I genomsnitt <%= number_to_currency(amount/result.last) %>.
              <% end -%>
              </span>
            <% else -%>
              <span class="value"><%= result.last %> <%= result.first.constantize.human_name %></span>
            <% end -%>
          </li>
        <% end %>
        </ul>
      </div>
      <% end %>
      
      <h2>Mätpunkter och omvandlingar</h2>

      <table class="measure_points simple">
        <tr>
          <th class="details">Detaljer</th>
          <th class="description">Beskrivning/omvandlingar</th>
          <th class="total_clicks num">Klick</th>
          <th class="total_conversions num">Avslut</th>
          <th class="total_roi num">Frekvens</th>
        </tr>
      <% @campaign.measure_points.each do |point| -%>
        <tr id="measure_point_<%= point.id %>">
          <td class="details">
            <span class="ref_nr"><%= point.public_id.upcase %></span>
            <span class="cost"><span class="type">Kostnad:</span> <span class="value"><%= point.cost %> kr</span>
            <span class="created_at">
              <span class="type">Skapad:</span>
              <span class="value">
                <%= point.created_at.strftime("%d %b %Y") %>
                <% if point.user %>
                  av <%= point.user.first_name %>
                <% end %>
              </span>
            </span>
            <span class="updated_at">
              <span class="type">Senaste klick:</span>
              <span class="value"><%= point.updated_at.strftime("%d %b %Y %H:%M") %></span>
            </span>
            <%= link_to "Ändra", edit_admin_measure_point_path(point) %>
          </td>
          <td>
            <div class="description"><%= point.name %></div>
            <% unless point.target_name.blank? -%>
            <div class="audience"><span class="type">Målgrup:</span> <span class="value"><%= point.target_name %></span></div>
            <% end -%>
            <div class="conversions">
              <% if point.conversions.confirmed.any? %>
              <span class="type"><%= link_to "Omvandlingar", admin_registrations_path(:filter => 'confirmed', :measure_point_id => point.id) %></span>
              <ul>
                <% point.conversions.confirmed.count(:group => 'registration_type').each do |result| %>
                <li>
                <% if result.first.constantize.new.payable? %>
                  <% amount = point.income(result.first) %>
                  <span class="value"><%= number_to_currency(amount) %> <%= result.first.constantize.human_name %></span>
                  <span class="average">
                  <%= result.last %> omvandlingar.
                  <% if not amount.zero? -%>
                   I genomsnitt <%= number_to_currency(amount/result.last) %>.
                  <% end -%>
                  </span>
                <% else -%>
                  <span class="value"><%= result.last %> <%= result.first.constantize.human_name %></span>
                <% end -%>
                </li>
                <% end %>
              </ul>
              <% else -%>
              Mätpunkten har inga omvandlingar.
              <% end -%>
            </div>
          </td>
          <td class="total_clicks num"><%= point.num_clicks %></td>
          <td class="total_conversions num"><%= point.conversions_count %></td>
          <td class="total_roi num"><%= number_to_percentage(((point.conversions_count.to_f / point.num_clicks.to_f)*100), :precision => 2) if point.num_clicks > 0%></td>
        </tr>
      <% end -%>
      </table>
    <% else -%>
      <p class="blank-slate">Det finns inga mätpunkter för den här kampanjen. <%= link_to "Lägg till den första", new_admin_measure_point_path %></p>
    <% end -%>    
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>