<% if @full_render -%>
<% @page_class = @page.layout_class -%>
<% @page_title = @page.title -%>
<% @page_id = 'pages-show' -%>
<% else -%>
<%= '<'+'% @page_class = @page.layout_class %'+'>' -%>
<%= '<'+'% @page_title = @page.title %'+'>' -%>
<%= '<'+'% @page_id = "pages-show" %'+'>' -%>
<% end -%>
<% if breadcrumbs and breadcrumbs.any? -%>
  <%= render :partial => 'shared/breadcrumbs', :locals => { :breadcrumbs => breadcrumbs } %>
<% end %>
  <div id="c_w"><div class="c_w2">
    <div id="content">
    <% (1..@page.column_count).each do |column| %>
      <div id="c_<%= column %>" class="column">
      <% @page.contents.active.find_all { |content| content.column_position == column }.each do |content| -%>
        <%= render_page_content(@page, content, { :render_full => @full_render }) %>
      <% end -%>
      </div>
    <% end %>
    </div>
  </div></div>