<% page = (@page.child? ? @page.parent : @page) -%>
<% if page.is_a?(PageCollection) && page.tag_collections.any? %>
<div class="tag_collections<%= " #{content.settings.value_for(:css_class)}" unless content.settings.value_for(:css_class).blank? %>"<%= " id=\"#{content.settings.value_for(:id)}\"" unless content.settings.value_for(:id).blank? %>>
  <% unless content.settings.value_for(:title).blank? -%>
  <%= "<#{content.settings.value_for(:title_tag)}>" %><%= content.settings.value_for(:title) %><%= "</#{content.settings.value_for(:title_tag)}>" %>
  <% end -%>
  <ul>
  <% page.tag_collections.each do |tag_collection| %>
    <li<%= ' class="current"' if params[:tag_collection_id] and params[:tag_collection_id].to_i == tag_collection.id %>>
      <a href="/<%= @node.slug %>?<%= tag_collection.querystring %>"><%= tag_collection.name %></a>
      <% if content.settings.value_for(:show_description).to_i == 1 %>
      <p><%= tag_collection.description %></p>
      <% end -%>
    </li>
  <% end %> 
  </ul>
</div>
<% end %>