<% unless @registration.shipping_address.blank? and @registration.shipping_post_code.blank? and @registration.shipping_locality.blank? %>
<div id="shipping_address" class="details">
  <h3>Leveransadress</h3>
  <div class="vcard delivery">
    <address class="adr">
    <%= "<span class=\"org\">#{@registration.shipping_organisation}</span>" unless @registration.shipping_organisation.blank? %>
    <%= "<span class=\"fn\">#{@registration.shipping_first_name} #{@registration.shipping_last_name}</span>" unless @registration.shipping_last_name.blank? and @registration.shipping_first_name.blank? %>
    <%= "<span class=\"street-address\">#{@registration.shipping_address}</span>" unless @registration.shipping_address.blank? %>
    <%= "<span class=\"street-address\">#{@registration.shipping_co_address}</span>" unless @registration.shipping_co_address.blank? %>
    <%= "<span class=\"postal-code\">#{@registration.shipping_post_code}</span>" unless @registration.shipping_post_code.blank? %>
    <%= "<span class=\"locality\">#{@registration.shipping_locality}</span>" unless @registration.shipping_locality.blank? %>
    </address>
  </div>
</div>
<% end -%>