<fieldset>
  <label for="registration_first_name">Förnamn</label>
  <%= f.text_field :first_name %>
  <label for="registration_first_name">Efternamn</label>
  <%= f.text_field :last_name %>
  <label for="registration_organization">Företag / Organisation / Skola</label>
  <%= f.text_field :organization %>
  <label for="registration_department">Avdelning</label>
  <%= f.text_field :department %>
  <label for="registration_address">Gatuadress</label>
  <%= f.text_field :address %>
  <label for="registration_post_code">Postnummer</label>
  <%= f.text_field :post_code %>
  <label for="registration_post_code">Stad</label>
  <%= f.text_field :locality %>
  <label for="registration_phone">Telefon</label>
  <%= f.text_field :phone %>
  <label for="registration_phone">Mobiltelefon</label>
  <%= f.text_field :cell_phone %>
  <label for="registration_email">E-post</label>
  <%= f.text_field :email %>
</fieldset>