<% form_tag search_admin_registrations_path, :method => 'get' do %>
<div class="search fullwidth">
  <%= text_field_tag :query, (@query || 'Sök'), :class => "search_query", :id=> "search_query" %>
  <%= submit_tag "Sök", :style => "display:none" %>
</div>
<% end %>
<% form_tag admin_show_registration_path, :method => 'get' do %>
<div class="search fullwidth">
  <%= text_field_tag :id, (@registration ? @registration.id : 'Hitta registrering med ref# ...'), :class => "search_query", :id=> "ref_search_query" %>
  <%= submit_tag "Visa", :style => "display:none" %>
</div>
<% end %>

<div class="label">Status</div>
<ul class="filter">
  <li<%= ' class="current"' if current_filter == :confirmed_or_pending %>>
    <%= link_to "Alla", admin_registrations_path({ :filter => '', :type => current_type }) %>
  </li>
  <li<%= ' class="current"' if current_filter == :confirmed %>>
    <%= link_to "Avklarade", admin_registrations_path({ :filter => 'confirmed', :type => current_type }) %>
  </li>
  <li<%= ' class="current"' if current_filter == :pending %>>
    <%= link_to "Avvaktande (#{current_type.constantize.pending.count})", admin_registrations_path({ :filter => 'pending', :type => current_type }) %>
  </li>
  <li<%= ' class="current"' if current_filter == :failed %>>
    <%= link_to "Misslyckade", admin_registrations_path({ :filter => 'failed', :type => current_type }) %>
  </li>
  <li<%= ' class="current"' if current_filter == :spam %>>
    <%= link_to "Dubblett/Spam", admin_registrations_path({ :filter => 'spam', :type => current_type }) %>
  </li>
  <li<%= ' class="current"' if current_filter == :fraud %>>
    <%= link_to "Bedrägeri", admin_registrations_path({ :filter => 'fraud', :type => current_type }) %>
  </li>
</ul>

<div class="label">Registreringstyper</div>
<ul class="filter">
  <li<%= ' class="current"' if current_type == 'Registration' %>>
  <%= link_to "Visa alla", admin_registrations_path() %>
  </li>
<% Registration::valid_registration_types.each do |registration_type| -%>
  <li<%= ' class="current"' if current_type == registration_type %>>
  <%= link_to registration_type.constantize.human_name, admin_registrations_path(:type => registration_type, :filter => current_filter.to_s) %>
  </li>
<% end -%>
</ul>
