<table class="registrations">
  <tr>
    <th>Ref# / Datum</th>
    <th>Kontaktuppgifter</th>
    <th>Detaljer</th>
  </tr>
  <% registrations.each do |registration| -%>
  <tr class="<%= cycle('odd','even') %>">
    <td class="details">
      <span class="status <%= registration.humanized_status[:class] %>"><%= link_to registration.id, admin_registration_path(:id => registration, :type => registration.type, :format => 'html') %></span>
      <span class="created_at">
        <% t = registration.created_at %>
        <%= t.day  %>
        <%= t.strftime("%b %Y %H:%M") %>
      </span>
      <span class="type">
        <%= registration.class.human_name %>
      </span>
    </td>
    <td class="personal">
      <%= render :partial => "vcard", :locals => { :registration => registration } %>
    </td>
  </tr>
  <% end -%>
</table>