<% @page_title = "Registrering: #{@type.constantize.human_name} #{@registration.id}" -%>
<div id="workspace">
  <div class="header">
    <h1>Ändra registreringen #<%= @registration.id %></h1>
    <%= link_to "Tillbaka till #{@registration.class.human_name.downcase} ##{@registration.id}", admin_registration_path(:id => @registration.id, :type => @registration.type) %>
  </div>
  <div id="content">
    <div id="c_1">
      <% form_for @registration, :url => admin_registration_path(@registration.id) do |f| %>
        <div class="data">
          <div class="details">
            <h3>Kontaktuppgifter</h3>
            <%= render :partial => "edit_vcard", :locals => { :f => f } %>
          </div>
          <%= render :partial => "admin/registrations/user", :locals => { :registration => @registration } %>
          <%= render :partial => "admin/registrations/delivery_address", :locals => { :registration => @registration } %>
          <% begin %>
            <%= render :partial => "admin/registrations/types/edit_#{@registration.class.to_s.tableize}", :locals => { :registration => @registration } %>
          <% rescue ActionView::MissingTemplate %>
            <%= render :partial => "admin/registrations/types/edit_default", :locals => { :registration => @registration } %>
          <% end %>
        </div>
        <div class="submit">
          <input type="submit" value="Spara"> eller <%= link_to "avbryt", previous_view_path(admin_registration_path(:id => @registration.id, :type => @registration.class.to_s)) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>