<% @page_title = "Registreringar" -%>
<% @page_class = "layout3" -%>
<div id="sub_nav">
  <%= render :partial => 'filters', :locals => { :type => @type, :current_filter => @filter } %>
  <%= render :partial => 'nav', :locals => { :current_type => @type } %>
</div>
<div id="workspace">
  <div class="header">
    <h1><%= @type.constantize.human_name %></h1>
  </div>
  <div id="content">
    <% if @registrations.any? -%>
      <%= render :partial => "table", :locals => { :registrations => @registrations } %>
      <%= will_paginate @registrations %>
    <% else -%>
      <p class="blank-slate">Det finns inga registreringar av den här typen</p>
    <% end -%>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>