<% @page_title = "Registreringar" -%>
<div id="workspace">
  <div id="c_wrap" class="layout_2">
    <div id="c_1">
      <div class="header">
        <h1><%= @type.constantize.human_name %></h1>
      </div>
      <%= render :partial => 'filters', :locals => { :type => @type, :current_filter => @filter } %>
    <% if @registrations.any? -%>
      <%= render :partial => "table", :locals => { :registrations => @registrations } %>
      <%= will_paginate @registrations %>
    <% else -%>
      <p class="blank-slate">Det finns inga registreringar av den här typen</p>
    <% end -%>
    </div>
    <div id="c_2">
      <div class="inner">
        <%= render :partial => 'nav', :locals => { :current_type => @type } %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>