<% @page_title = "Din sökning på #{@query} gav #{@search.total}" -%>
<% @page_class = "layout3" -%>
<div id="sub_nav">
  <%= render :partial => 'nav', :locals => { :current_type => @type, :current_filter => @filter } %>
</div>
<div id="workspace">
  <div class="header">
    <h1>Registrering</h1>
  </div>
  <div id="content">
    <% if @search.total != 0 -%>
      <h2>Din sökning på <strong><%= @query %></strong> gav <strong><%= @search.total %></strong> resultat</h2>
      <%= render :partial => "table", :locals => { :registrations => @search.results } %>
    <% else -%>
      <p class="blank-slate info">Inga träffar hittades på sökningen ”<%= @query %>”</p>
    <% end -%>
    <%= will_paginate @search.results %>
  </div>
</div>