<ul class="nav">
  <li<%= ' class="current"' if type == nil %>>
    <%= link_to "Översikt", admin_activities_path %>
  </li>
  <li<%= ' class="current"' if type == NewsletterSubscription %>>
    <%= link_to "E-postadresser", admin_registration_activity_path(:type => 'newsletter_subscriptions') %>
  </li>
  <li<%= ' class="current"' if type == PageTip %>>
    <%= link_to "Tips om sidor", admin_registration_activity_path(:type => 'page_tips') %>
  </li>
</ul>