<% @page_class = 'AxB' -%>
<div id="content_header">
  <%= link_to "« Tillbaka till översikt", admin_activities_path, :class => 'back' %>
  <h1>Företagsförsälning</h1>
</div>
<div id="container">
  <div id="content">
    <div id="ca">
      <div class="inner">
        <%= render :partial => 'activities_nav', :locals => {:type => @type} %>
      </div>
    </div>
    <div id="cb">
      <div class="inner">
        <% activity_table(@first_period, @second_period) do %>
          <tbody>
            <tr class="totals">
              <th scope="colgroup">Försäljning</th>
              <% sum_first_period, sum_second_period = CompanyOrder.total_sum(:period => @first_period), CompanyOrder.total_sum(:period => @second_period) -%>
              <% diff = sum_first_period - sum_second_period -%>
              <td><%= sum_second_period %></td>
              <td><%= sum_first_period %></td>
              <td><%= '+' if diff.cents > 0 %><%= diff %></td>
            </tr>
            <tr>
              <th scope="row">Antal</th>
              <% num_first_period, num_second_period = CompanyOrder.with_period(@first_period).count, CompanyOrder.with_period(@second_period).count -%>
              <% diff = num_first_period - num_second_period %>
              <td><%= num_second_period %></td>
              <td><%= num_first_period %></td>
              <td><%= '+' if diff > 0 %><%= diff == 0 ? '-' : "#{diff} st" %></td>
            </tr>
            <tr>
              <th scope="row">Genomsnittligt värde</th>
              <% average_sum_first_period, average_sum_second_period = CompanyOrder.average_sum(:period => @first_period), CompanyOrder.average_sum(:period => @second_period) -%>
              <% diff = average_sum_first_period - average_sum_second_period %>
              <td><%= number_to_currency average_sum_second_period.to_f, :precision => 2 %></td>
              <td><%= number_to_currency average_sum_first_period.to_f, :precision => 2 %></td>
              <td><%= '+' if diff.cents > 0 %><%= number_to_currency diff.to_f, :precision => 2 %></td>
            </tr>
            <tr>
              <th scope="row">Opt-in</th>
              <% num_first_period_opt_in, num_second_period_opt_in = CompanyOrder.with_period(@first_period).with_opt_in.count, CompanyOrder.with_period(@second_period).with_opt_in.count -%>
              <% first_period_percent = (num_first_period_opt_in.to_f / num_first_period.to_f) * 100 -%>
              <% second_period_percent = (num_second_period_opt_in.to_f / num_second_period.to_f) * 100 -%>
              <% diff = num_first_period_opt_in - num_second_period_opt_in %>
              <td>
              <% if num_second_period_opt_in > 0 %>
                <%= num_second_period_opt_in %> st / <%= number_to_percentage second_period_percent, :precision => 2 %>
              <% else -%>
                -
              <% end -%>
              </td>
              <td>
              <% if num_first_period_opt_in > 0 %>
                <%= num_first_period_opt_in %> st / <%= number_to_percentage first_period_percent, :precision => 2 %>
              <% else -%>
                -
              <% end -%>
              </td>
              <td><%= '+' if (first_period_percent - second_period_percent) > 0 %><%= number_to_percentage((first_period_percent - second_period_percent) * 100, :precision => 3) %></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th>Betalsätt
            </tr>
          </tbody>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_merged :admin %>