<% @page_title = "Statistik" -%>
<% @page_class = "layout3" -%>
<div id="sub_nav">
  <%= render :partial => 'activities_nav', :locals => {:type => @type} %>
</div>
<div id="workspace">
  <% begin %>
    <%= render :partial => "admin/activities/types/#{@type.to_s.tableize}", :locals => { :type => @type, :first_period => @first_period, :second_period => @second_period } %>
  <% rescue %>
    <%= render :partial => "admin/activities/types/default", :locals => { :type => @type, :first_period => @first_period, :second_period => @second_period } %>
  <% end %>
</div>

<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>
    