<% if !content.contents.any? %>
  <div id="content_<%= content.id %>">
    <p class="blank-slate">Det finns inga puffar i denna samling.</p>
    <span class="controls">
      <%= link_to "Ta bort", admin_content_path(:id => content), :method => :delete, :confirm => "Är du säker, detta går inte att ångra.", :class => 'delete' %>
    </span>
  </div>
<% end %>
<ul class="teasers sortable" id="content_<%= content.id %>_teasers">
<% content.contents.each do |child| -%>
  <li id="content_<%= child.id %>" class="Teaser content sortable <%= child.active? ? ' active' : ' inactive' %>">
    <span class="draghandle"></span>
    <span class="inactive_proxy"></span
    <%= image_tag(display_image_path(:size => "c70x70", :id => child.resource.images.primary, :format => child.resource.images.primary.extname), :alt => child.resource.images.primary.title ) if child.resource.images.primary %>
    <div class="title"><%= child.resource.title %></div>
    <%= child.resource.body %>
    <div class="meta">
      <span class="style <%= child.resource.css_class %>"></span>
      <span class="size"><span class="type">Storlek:</span>
      <span class="value">
        <% if child.resource.small? %>
        Liten
        <% elsif child.resource.medium? %>
        Mellan
        <% elsif child.resource.big? %>
        Stor
        <% end %>
      </span>
    </div>
    <span class="edit">
      <%= link_to "Ändra", edit_admin_content_path(:id => child, :return_to => request.request_uri) %>
      <%= link_to "Lägg till bild", admin_assets_path(:asset_usage => { :parent_id => child.resource.id, :parent_type => child.resource.class.name }, :context_params => { :return_to => admin_page_path(:id => @page, :anchor => "content_#{child.id}") }) %>
      <%= link_to child.active? ? 'Dölj' : 'Visa', toggle_admin_content_path(child), :method => :put, :class => 'visibility' %>
      <%= link_to "Ta bort", admin_content_path(:id => child), :method => :delete, :confirm => "Är du säker, detta går inte att ångra.", :class => 'delete' %>
    </span>
  </li>
<% end -%>
  <li class="sub_content add">
    <%= link_to("Lägg till puff", new_admin_content_path(:return_to => request.request_uri, :content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'Teaser', :parent_id => content, :column_position => content.column_position }), :class => 'new') %>
  </li>
</ul>
<% else %>
