<% if !content.contents.any? %>
  <div id="content_<%= content.id %>">
    <p class="blank-slate">Det finns inga puffar i denna samling.</p>
    <span class="controls">
      <%= link_to "Ta bort", admin_content_path(:id => content), :method => :delete, :confirm => "Är du säker, detta går inte att ångra.", :class => 'delete' %>
    </span>
  </div>
<% end %>
<ul class="teasers sortable" id="content_<%= content.id %>_teasers">
<% content.contents.each do |child| -%>
  <li id="content_<%= child.id %>" class="content sortable <%= child.active? ? '' : ' inactive' %>">
    <span class="draghandle"></span>
    <div class="actual_content teaser">
      <% if child.resource.images.primary %>
      <div class="thumbnail">
        <%= image_tag(display_image_path(:size => "c80x80", :id => child.resource.images.primary, :format => child.resource.images.primary.extname), :alt => child.resource.images.primary.title ) %>
        <%= link_to "Lägg till bild", admin_assets_path(:asset_usage => { :parent_id => child.resource.id, :parent_type => child.resource.class.name }, :context_params => { :return_to => admin_page_path(:id => @page, :anchor => "content_#{child.id}") }) %>
      </div>
      <% else %>
        <%= link_to "<span>Lägg till<br>bild</span>", admin_assets_path(:asset_usage => { :parent_id => child.resource.id, :parent_type => child.resource.class.name }, :context_params => { :return_to => admin_page_path(:id => @page, :anchor => "content_#{child.id}") }), :class => "no_image" %>
      <% end %>
      <div class="title"><%= child.resource.title %></div>
      <%= child.resource.body %>
      <div class="meta">
        <span class="size"><span class="type">Storlek:</span>
        <span class="value">
          <%= t(child.resource.display_type_key, :scope => [:app, :teasers, :types]) %>
        </span>
      </div>
    </div>
    <div class="edit">
      <%= link_to "Ändra", edit_admin_content_path(:id => child, :return_to => request.request_uri) %>
      <%= link_to child.active? ? 'Dölj' : 'Visa', toggle_admin_content_path(child), :method => :put, :class => 'visibility' %>
      <%= link_to "Ta bort", admin_content_path(:id => child), :method => :delete, :confirm => "Är du säker, detta går inte att ångra.", :class => 'delete' %>
    </div>
  </li>
<% end -%>
  <li class="add">
    <%= link_to("Lägg till puff", new_admin_content_path(:return_to => request.request_uri, :content => { :context_id => @page.id, :context_type => 'Page', :resource_type => 'Teaser', :parent_id => content, :column_position => content.column_position }), :class => 'new') %>
  </li>
</ul>
<% else %>