<% fields_for :resource do |resource| %>
  <label for="content_<%= content.id %>_resource_title">Rubrik</label>
  <div class="fullwidth">
    <%= resource.text_field :title, :id => "content_#{content.id}_resource_title", :class => 'title' %>
  </div>
  <label for="resource_filter">
    Filter: 
    <%= resource.select :filter, Teaser.filters %>
  </label>
  <label for="content_<%= content.id %>_resource_body">Text</label>
  <div class="fullwidth">
    <%= resource.text_area :body, :id => "editor", :class => content.resource.filter, :rows => 5 %>
  </div>
  <label for="resource_display_type">Typ</label>
  <%= resource.select :display_type, Teaser.display_types.enum_with_index.map { |type, i| [t(type[:key], :scope => [:app, :teasers, :types]), i.to_s] } %>
  <label for="resource_css_class">CSS-klass</label>
  <%= resource.select :css_class, Teaser.css_classes.collect { |css_class| [t(css_class, :scope => [:app, :colors]), css_class] }.unshift(['Ingen', '']) %>
<% end %>
<%= render :partial => 'admin/contents/restriction_settings', :locals => { :content => content }%>
