<% @page_title = "Redigera puff" %>
<style type="text/css">@import url(/stylesheets/porthos/new.css);</style>
<div id="workspace">
  <div id="c_wrap" class="layout_2">
    <div id="c_1">
      <div class="header">
        <h1>Ändra puff</h1>
      </div>
      <% form_for :content, :url => admin_content_path(@content), :html => { :multipart => true, :method => :put }  do |f| %>
        <% fields_for :resource do |resource| %>
        <fieldset>
          <label for="content_<%= @content.id %>_resource_title">Rubrik</label>
          <%= resource.text_field :title, :id => "content_#{@content.id}_resource_title" %>
          <label for="content_<%= @content.id %>_resource_body">Text</label>
          <%= resource.text_area :body, :id => "content_#{@content.id}_resource_body" %>
        
          <label for="resource_display_type">Typ</label>
          <label for="resource_display_type_0"><%= resource.radio_button :display_type, Teaser::DISPLAY_TYPES[:small] %> Liten</label>
          <label for="resource_display_type_1"><%= resource.radio_button :display_type, Teaser::DISPLAY_TYPES[:medium] %> Mellan</label>
          <label for="resource_display_type_2"><%= resource.radio_button :display_type, Teaser::DISPLAY_TYPES[:big] %> Stor</label>
        
          <label for="resource_css_class">CSS-klass</label>
          <%= resource.select :css_class, Teaser::CSS_CLASSES %>
        
          <label for="resource_files">Bild</label>
          <%= file_field_tag 'resource[files][]', :size => "15", :class => "file" %>
        </fieldset>
        <% end %>
<%= render :partial => 'admin/contents/restriction_settings', :locals => { :content => @content }%>        <div class="submit">
          <%= submit_tag 'Lägg till puff', :class => 'button' %> eller <%= link_to "Avbryt", previous_view_path %>
        </div>
      <% end %>
  </div>
</div>