<% @page_class = 'A' -%>
<div id="content_header">
  <h1>Ny teaser</h1>
</div>
<div id="container">
  <div id="content">
    <div id="ca">
    <div class="inner">
      <%= error_messages_for :resource %>
      <% form_for :content, :url => admin_page_contents_path(:page_id => @page), :html => { :multipart => true }  do |f| %>
        <%= f.hidden_field :parent_id, { :value => @content.id } %>
        <%= f.hidden_field :resource_type, { :value => 'Teaser' } %>
        <% fields_for :teaser do |teaser| %>
          <label for="content_<%= @content.id %>_teaser_title">Rubrik</label>
          <%= teaser.text_field :title, :id => "content_#{@content.id}_teaser_title" %>
          <label for="content_<%= @content.id %>_teaser_body">Text</label>
          <%= teaser.text_area :body, :id => "content_#{@content.id}_teaser_body", :class => 'wymeditor' %>
          <div class="graphic size">
            <h2>Storlek</h2>
            <label for="teaser_display_type_2"><%= teaser.radio_button :display_type, Teaser::DISPLAY_TYPES[:big] %> <img src="/graphics/porthos/icons/50_teaser_big.gif"> Stor</label>
            <label for="teaser_display_type_1"><%= teaser.radio_button :display_type, Teaser::DISPLAY_TYPES[:medium] %> <img src="/graphics/porthos/icons/50_teaser_medium.gif"> Mellan</label>
            <label for="teaser_display_type_0"><%= teaser.radio_button :display_type, Teaser::DISPLAY_TYPES[:small] %> <img src="/graphics/porthos/icons/50_teaser_small.gif"> Liten</label>
          </div>
          <div class="graphic color">
            <h2>Färg</h2>
            <% Teaser::CSS_CLASSES.each do |name, klass| -%>
              <label for="teaser_color_<%= !klass.blank? ? klass : 'none' %>">
                <%= teaser.radio_button :css_class, klass, :id => "teaser_color_#{(!klass.blank? ? klass : 'none' )}" %>
                <span class="teaser_color"><span class="<%= klass %>"></span></span>
              </label>
            <% end -%>
          </div>  
        <% end %>
        <div class="submit">
          <%= submit_tag 'Lägg till puff' %> eller <%= link_to "avbryt", previous_view_path(admin_page_path(@page)) %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
<%= javascript_include_merged :admin %>
<%= javascript_include_tag 'porthos/jquery-1.1.3.1.pack' %>
<%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
<%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/tidy/jquery.wymeditor.tidy' %>
<%= javascript_include_tag 'porthos/editor' %>
<script type="text/javascript">
  Porthos.Editor.Initialize();
</script>