<% @page_title = 'Lägg till ny teaser' -%>
<div id="workspace">
  <div class="header">
    <h1>Lägg till ny teaser</h1>
  </div>
  <div id="content">
    <%= error_messages_for :resource %>
    <% form_for :content, :url => admin_contents_path(:collection => params[:collection]), :html => { :multipart => true }  do |f| %>
      <%= f.hidden_field :context_id %>
      <%= f.hidden_field :context_type %>
      <%= f.hidden_field :parent_id, { :value => @content.id } %>
      <%= f.hidden_field :column_position %>
      <%= f.hidden_field :resource_type, { :value => 'Teaser' } %>
      <%= render :partial => 'admin/contents/teasers/form', :locals => { :content => @content, :f => f } %>
      <div class="submit">
        <%= submit_tag 'Lägg till puff', :class => 'commit button' %> eller <%= link_to "avbryt", previous_view_path %>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/jquery/jquery' %>
<%= javascript_include_tag 'porthos/wymeditor/jquery.wymeditor.min', 'porthos/wymeditor/lang/sv', 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools', 'porthos/wymeditor/plugins/tidy/jquery.wymeditor.tidy' %>
<%= javascript_include_tag 'porthos/wymeditor/lang/sv' %>
<%= javascript_include_tag 'porthos/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools' %>
<%= javascript_include_tag 'porthos/codemirror/codemirror' %>
<%= javascript_include_tag 'porthos/editor' %>
<script type="text/javascript">
  Porthos.Editor.Initialize();
  $$('div.graphic').each(function(div) {
    Porthos.Helpers.graphicLabel(div);
  });
  
</script>