<% @page_class = "AB content" -%>
<div id="content_header">
  <h1>Ny nyckelordssamlingar för <%= @page.title %></h1>
  <span class="controls">
    <%= link_to "Lägg till / redigera sidor", admin_page_collection_path(@page) %>
    <%= link_to "Redigera huvudsida", admin_page_path(@page) %>
  </span>
</div>
<div id="container">
  <div id="content">
    <div id="ca">
      <div class="inner">
        <% form_for :tag_collection, @tag_collection, :url => admin_page_collection_tag_collections_path(@page) do |f| %>
          <%= render :partial => 'form', :locals => { :f => f } %>
          <div class="submit">
            <input type="submit" value="Spara nyckelordssamlingen">  eller <%= link_to "avbryt", previous_view_path(admin_page_collection_tag_collections_path(@page)) %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="cb">
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>
<%= javascript_include_tag 'porthos/tag_collections' %>
<%= javascript_include_extensions %>