<%= error_messages_for :user %>
<%= hidden_field_tag 'role', 'Admin' %>

<label for="user_first_name">Förnamn</label>
<%= f.text_field :first_name, :autocomplete => "off" %>
<label for="user_last_name">Efternamn</label>
<%= f.text_field :last_name, :autocomplete => "off" %>

<label for="user_login">Användarnamn</label>
<%= f.text_field :login, :autocomplete => "off" %>
<label for="user_password">Lösenord</label>
<%= f.password_field :password, :autocomplete => "off" %>
<label for="user_password_confirmation">Bekräfta lösenord</label>
<%= f.password_field :password_confirmation, :autocomplete => "off" %>

<%= image_tag(display_image_path(:size => 'c100x100', :id => @user.avatar, :format => @user.avatar.extname), :class => "photo") if @user.avatar %>
<label for="user_file">Välj bild att ladda upp</label>
<div><%= f.file_field :file, :size => 20 %></div>
<p class="form_help">Ladda inte upp bilder över <strong>1MB</strong> och använd endast filformaten <strong>jpg</strong>, <strong>png</strong> eller <strong>gif</strong>.</p>

<label for="user_email">E-post</label>
<%= f.text_field :email, :autocomplete => "off" %>
<label for="user_phone">Telefon</label>
<%= f.text_field :phone, :autocomplete => "off" %>
<label for="user_cell_phone">Mobiltelefon</label>
<%= f.text_field :cell_phone, :autocomplete => "off" %>
