<% @page_title = "Användare" -%>
<% @page_class = 'layout3' %>
<div id="sub_nav">
  <% form_tag search_admin_users_path, :method => 'get' do %>
  <div class="search">
    <div class="fullwidthinput">
      <%= text_field_tag :query, (@query ? @query : 'Sök användare ...'), :class => "search_query", :id=> "ref_search_query" %>
    </div>
    <%= submit_tag "Sök", :style => "display:none" %>
  </div>
  <% end %>
</div>
<div id="workspace">
  <div class="header">
    <h1>Redaktörer</h1>
  </div>
  <div class="tools">
    <div class="add">
      <%= link_to "Lägg till ny redaktör", new_admin_user_path, :class => "new" %>
    </div>
  </div>
  <div id="content">
    <ul id="userslist">
    <% @users.each do |user| -%>
      <li>
        <%= render :partial => 'user', :locals => {:user => user} %>
      </li>
    <% end -%>
    </ul>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', 'porthos/safari_search', :cache => 'admin' %>