<% @page_title = "Användare" -%>
<% @page_class = "A" -%>
<div id="content_header">
  <h1>Användare - besökare</h1>
</div>
<div id="container">
  <div id="content">
    <div id="ca">
      <span class="controls">
        <%= link_to "Lägg till besökare", new_public_admin_users_path, :class => 'create' %>
      </span>
      <div class="inner">
        <ul id="users_list">
        <% @users.each do |user| -%>
          <li class="vcard user" id="user_<%= user.id %>">
            <%= image_tag(display_image_path(:size => 'c90x90', :id => user.avatar, :format => user.avatar.extname), :class => "photo") if user.avatar %>
            <div>
              <span class="fn"><%= user.name %></span>
              <a class="email" title="Skicka e-post till <%= user.name %>" href="mailto:<%= user.email %>"><%= user.email %></a>
              <% unless user.phone.blank? and user.cellphone.blank? -%>
              <span class="tel">
                <% unless user.phone.blank? -%>
                <span class="work">
                  <span class="type">Telefon:</span>
                  <span class="value"><%= user.phone %></span>
                </span>
                <% end -%>
                <% unless user.cellphone.blank? -%>
                <span class="cell">
                  <span class="type">Mobil:</span>
                  <span class="value"><%= user.cellphone %></span>
                </span>
                <% end -%>
              </span>
              <% end %>
            </div>
            <span class="controls general">
              <%= link_to "Ändra uppgifter", edit_admin_user_path(user), :class => 'edit' %>
              <%= link_to "Radera", admin_user_path(user), :method => :delete, :class => 'delete', :confirm => 'Är du säker på att du vill tabort användaren?' %>
            </span>
          </li>
        <% end -%>
        </ul>
      </div>
    </div>
  </div>
</div>