<% @page_title = "Användare - sökresultat" -%>
<% @page_class = 'layout3' %>
<%= render :partial => 'sub_nav' %>
<div id="workspace">  
  <div class="header">
    <h1>Användare - sökresultat</h1>
  </div>
  <div id="content">
    <div class="inner">
      <span class="notice">
        <% if @search.total_entries != 0 -%>
        Din sökning på <strong><%= @query %></strong> gav <strong><%= @search.total_entries %></strong> resultat
        <% else -%>
        Inga träffar hittades på sökningen ”<%= @query %>”
        <% end -%>
      </span>
      <ul id="userslist">
      <% @search.results.each do |user| -%>
        <li>
          <%= render :partial => 'user', :locals => {:user => user} %>
        </li>
      <% end -%>
      </ul>
      <%= will_paginate @search %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'named_routes' %>
<%= javascript_include_tag 'porthos/prototype', 'porthos/effects', 'porthos/controls', 'porthos/dragdrop', 'porthos/lowpro', 'porthos/lib', 'porthos/application', :cache => 'admin' %>