<div class="label">Inneh책ll</div>
<ul class="nav">
  <li><%= link_to "Formul채r", admin_registration_forms_path %></li>
  <li><%= link_to "Moduler", admin_content_modules_path %></li>
  <li><%= link_to "Vidarebefordringar", admin_redirects_path %></li>
  <li><%= link_to "Inneh책llslistor", admin_content_lists_path %></li>
  <li><%= link_to "Nyckelord", admin_tags_path %></li>
  <li><%= link_to "Layouter", admin_page_layouts_path %></li>
  <li><%= link_to "F채lt", admin_field_sets_path %></li>
  
</ul>