<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Porthos <%= " | #{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag 'porthos/clearing', 'porthos/general','porthos/globals','porthos/proxys','porthos/pages','porthos/nodes','porthos/users','porthos/activity','porthos/wymeditor', :cache => 'porthos' %>
  <%= installation_specific_stylesheet_link_tag %>
</head>
<body<%= body_attributes %>>
<%= flash_messages %>
<div id="top_wrapper">
  <div id="user_nav"><%= link_to "Mitt konto", edit_admin_user_path(current_user) %> | <%= link_to "Logga ut", logout_path %></div>
  <ul id="nav">
    <li id="n-content"><%= link_to "Innehåll", admin_nodes_path %></li>
    <li id="n-assets"><%= link_to "Filarkiv", admin_assets_path %></li>
    <li id="n-activity"><%= link_to "Aktivitet", admin_registrations_path %></li>
    <li id="n-users"><%= link_to "Användare", admin_users_path %></li>
  </ul>