<%= render :partial => 'layouts/top' %>
    <ul id="main_nav">
      <li id="n-activity-overview"><%= link_to "Översikt", admin_activities_path %></li>
      <li id="n-campaigns"><%= link_to "Kampanjer", admin_campaigns_path %></li>
      <li id="n-registrations"><%= link_to "Registreringar", admin_registrations_path %></li>
    </ul>
  </div>
  <div id="wrapper">
  <%= yield %>
<%= render :partial => 'layouts/bottom' %>
