<%= render :partial => 'layouts/old_top' %>
  <ul id="sub-nav">
    <li id="n-activity-overview"><%= link_to "Översikt", admin_activities_path %></li>
    <li id="n-campaigns"><%= link_to "Kampanjer", admin_campaigns_path %></li>
    <li id="n-registrations"><%= link_to "Registreringar", admin_registrations_path %></li>
  </ul>
  <%= yield %>
<%= render :partial => 'layouts/bottom' %>
