<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>UNICEF Sverige<%= " | #{@page_title}" unless @page_title.blank? %></title>
  <%= stylesheet_link_tag 'basic', 'public', :cache => 'screen', :title => 'Screen', :media => 'screen, projection' %>
	<!--[if IE 7]>
    <link href="/stylesheets/ie7.css" media="screen,projection" rel="Stylesheet" type="text/css">  
  <![endif]-->
  <!--[if lte IE 7]>
    <link href="/stylesheets/ie.css" media="screen,projection" rel="Stylesheet" type="text/css">  
    <meta name="MSSmartTagsPreventParsing" content="true">   
    <meta http-equiv="imagetoolbar" content="false">
  <![endif]-->
</head>
<body<%= body_attributes %>>
<div id="wrap">
  <%= yield %>
</div>
<%= javascript_include_tag 'porthos/jquery', 'public/lib/extensions', 'public/application', :cache => 'payments' %>
</body>
</html>