<%= render :partial => 'layouts/old_top' %>
  <%= flash_messages %>
  <ul id="sub-nav">
    <% Shop.find(:all).each do |shop| -%>
    <li<%= ' class="current"' if shop == @shop %>><%= link_to shop.name, admin_shop_path(shop) %>
    <% end -%>
    <li id="n-products"><%= link_to "Produktlager", admin_products_path %></li>
    <li id="n-discounts"><%= link_to "Rabattkoder", admin_discounts_path %></li>
    <li id="n-orders"><%= link_to "Beställningar", admin_orders_path %></li>
  </ul>
  <%= yield %>
<%= render :partial => 'layouts/bottom' %>
