<%= render :partial => 'layouts/old_top' %>
  <%= flash_messages %>
  <ul id="sub-nav">
    <li id="n-vg_categories"><%= link_to "Kategorier", admin_vg_categories_path %></li>
    <li id="n-vg"><%= link_to "Produkter", admin_virtual_gifts_path %></li>
  </ul>
  <%= yield %>
<%= render :partial => 'layouts/bottom' %>
